%li.time-label
  %span.bg-red
    = activity.created_at.strftime("%Y-%m-%d %H:%M %p UTC")
  %li
    = fa_icon("plus")
    .timeline-item
      %span.time  
        = fa_icon("clock-o")
        = "#{time_ago_in_words(activity.created_at)} ago"
      .timeline.body
        = render "activities/#{activity.trackable_type.underscore}/create", 
          activity: activity
      