.box.box-solid#statuses
  .box-header.with-border
    %h3.box-title
      States
    .box-tools.pull-right
      %button.btn.btn-box-tool{"data-widget": "collapse"}
        = fa_icon("minus")
  .box-body
    - if user_signed_in? and item_owner?(item)
      = render "statuses/shared/form", item: item, status: status
    - else 
      %p
        If you submitted this item, please
        = link_to "login", new_user_session_path
        to change the state 
  .box-footer.box-comments#comments
    .comments
      - if item.statuses.persisted.any?
        = render item.statuses.desc.persisted
      - else
        %p#nocomment
          There are no state changes for 
          = item.name