= link_to user_name(activity.user), user_profiles_path(activity.user)
added the site
= link_to activity.trackable.name, 
[activity.trackable.project, activity.trackable]
to 
= link_to activity.trackable.project.name, activity.trackable.project