- # Here we'll use the already implemented discussions partial from projects
- # and pass a tracker object since the comments are polymorphic
= render "projects/partials/discussions", project: tracker