- if @tracker.items.present?
  %table.table.table-bordered.table-striped
    %thead
      %tr 
        %th 
          Name
        %th
          Date Recorded
        %th
          Submitted By
        %th 
          State
        %th 
          Actions
      %tbody
        - @tracker.items.each do |item|
          %tr
            %td
              = link_to [@tracker, item] do
                = item.name
            %td
              = item.created_at.strftime('%v')
            %td
              = item.user.username
            %td
              - if item.state 
                = render item.state
              - else 
                = "n/a"
            %td
              = link_to "#{fa_icon("eye")} View".html_safe,
                [@tracker, item], class: "btn btn-default btn-xs"
              = link_to "#{fa_icon("edit")} Edit".html_safe, 
                        [:edit, @tracker, item], type: "button",  
                        class: "btn btn-default btn-xs", 
                        "data-toggle": "modal",
                        "data-target": ""
              = link_to "#{fa_icon("trash")} Delete".html_safe,
                [@tracker, item], method: :delete,
                data: { confirm: "Are you sure you want to delete this tracker? "},
                class: "btn btn-default btn-xs" 