- title "Edit - #{@user.username}" 
.container
  %section
    .content
      %h2
        Edit Profile Information
        %small
          = @user.username
      .box.box-primary
        .box-header.with-border
          %h3.box-title
            Details
        .box-body
          .row
            = render 'profiles/shared/form', user: @user, profile: @profile