- if has_profile(@user)
  - title("#{@user.profile.firstname}'s profile")
  .container
    .content
      .row 
        .col-md-4
          .box.box-widget.widget-user-2
            .widget-user-header.bg-dark-blue
              .widget-user-image
                = gravatar_for @user,
                  "profile-user-img img-responsive img-circle widget-user-image"
              %h3.widget-user-username
                // = "#{@user.profile.user.username}"
                = user_name @user
              %h5.widget-user-desc
                - if @user.profile.tag.present?
                  = @user.profile.tag
                - elsif @user.profile.educationlevel.present?
                  Student
            .box-footer.no-padding.clear-fix
              %ul.nav.nav-pills.nav-stacked.user-info-nav
                %li
                  Projects 
                  %span.pull-right.badge.bg-cyan
                    = @user.projects.count
                %li
                  Splassh Member since 
                  %span.pull-right
                    = "#{ @user.created_at.strftime("%B") }"
                    = "#{ @user.created_at.year}"
                %li
                  Active
                  %span.pull-right
                    - if @user.current_sign_in_at
                      = "#{ time_ago_in_words(@user.current_sign_in_at) } ago"
                    - else
                      Never 
          .box.box-primary
            .box-header.with-border
              %h3.box-title
                More Information
              .box-tools
                - if profile_owner(@user)
                  =  link_to fa_icon("plus") + " Edit Profile", 
                     [:edit, @user, @user.profile], 
                     class: "btn btn-sm rounded-s btn-box-tool"
            .box-body
              = render "profiles/partials/profile_info"
        .col-md-8
          .nav-tabs-custom
            %ul.nav.nav-tabs
              %li.active
                %a{href: "#activity", "data-toggle" => "tab"}
                  Activity
              %li
                %a{href: "#projects", "data-toggle" => "tab"}
                  Projects
              %li
                %a{href: "#trackers", "data-toggle" => "tab"}
                  Trackers
              %li
                %a{href: "#cont-projects", "data-toggle" => "tab"}
                  Collaborative Projects
              %li
                %a{href: "#fav-projects", "data-toggle" => "tab"}
                  Favorite 
              - if user_signed_in? && profile_owner(@user)
                %li
                  %a{href: "#settings", "data-toggle" => "tab"}
                    Settings 
            - unless @user.profile.private && !profile_owner(@user)
              .tab-content
                .active.tab-pane#activity
                  = render "profiles/partials/profile_activity", user: @user,
                    activities: @activities
                .tab-pane#projects
                  = render "profiles/partials/profile_projects", user: @user
                .tab-pane#trackers
                  = render "profiles/partials/profile_trackers", user: @user
                .tab-pane#cont-projects
                  = render "profiles/partials/profile_cont_projects", user: @user
                .tab-pane#fav-projects
                  = render "profiles/partials/profile_fav_projects", user: @user
                - if profile_owner(@user)
                  .tab-pane#settings
                    = render "profiles/partials/profile_settings", user: @user
            - else
              .box.box-solid
                .box-body
                  %p
                    = "#{@user.username}'s activity is private"
- elsif has_email(@user) && profile_owner(@user)
  - flash[:alert] = "Please take a moment to create a profile."
  - title("Create a Profile")
  .container
    .content
      .row 
        %h2
          Oops! It seems like you havent yet created a profile!
          %br
          %h3
            Please take a moment to do so.
            "#{@user.username}'s
        = render "profiles/shared/update_profile_form", user: @user, profile: @profile          
- else
  .container
    .content
      .row 
        %h2
          This user has not created a profile. But you may still view their projects!
        = render "profiles/partials/profile_projects", user: @user
  // - flash[:alert] = "User has not created a profile."
  