- title "New - #{@user.username}" 
.container
  %section
    .content
      %h2
        New Profile Information
        %small
          = @user.username
      .box.box-primary
        .box-header.with-border
          .box-title
            %h3
              Details
        .box-body
          .row
            = render 'profiles/shared/form', user: @user, profile: @profile