$(document).ready(function() {
  $("#updateModal-<%= @scientific_datum.category_id %>").modal('hide');
  $(".form-control").val("");
  $("select").val("");
  $("textarea").val("");
  
  $("#user-info").fadeOut(500, function () {
    $(this).remove();
    
    
    var tbl_selector = ".box-" + cat_name + " tbody";
    
    $(tbl_selector).prepend("<tr><%= j render 'shared/data', 
                              data: @scientific_datum, 
                              project: @scientific_datum.project %></tr>"); 
  });
});