- title("Account Confirmation")
.container
  .register-box
    .register-logo
      %b 
        SPLASSH 
      Account
    .register-box-body
      .login-box-msg
        %p 
          Resend confirmation instructions
      = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| 
        = devise_error_messages!
        .form-group.has-feedback
          = f.input :email, :required => true, error: false, autofocus: true,
            label: false, input_html: { class: 'form-control', placeholder: "Email" }, 
            value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
        .row
          .col-xs-12
            = f.button :submit, "Resend confirmation instructions",
              class: "btn btn-primary btn-block btn-flat"
      = render "devise/shared/links"
