= link_to user_name(activity.user), user_profiles_path(activity.user)
commented
= link_to truncate(activity.trackable.content, length: 140), activity.trackable
on 
- if activity.trackable.commentable.try(:name)
  = link_to activity.trackable.commentable.name, activity.trackable.commentable
- else
  = link_to activity.trackable.commentable.content, activity.trackable.commentable