%script{src: '//maps.googleapis.com/maps/api/js?key=AIzaSyDXi94E0bEbo_x1fj_ZsNJVz_QVpohIJag&libraries=places&callback=initAutocomplete', async: true, defer: true}
= simple_form_for debris, html: {id: :debris_form} do |f|
  = render 'shared/error_messages', object: f.object
  .col-md-6
    .form-group
      = f.input :title, required: true, autofocus: true, title: "Debris title",
        placeholder: "debris title", label: "Debris Title", error: false,
        input_html: { class: 'form-control' }
    .form-group
      = f.label :status, "* Status"
      = f.select(:status, ["Collected", "Not Collected"], 
        { include_blank: "Select a status"}, { class: "form-control"})
    .form-group
      = f.label :description, "* Debris description"
      = f.input_field :description, as: :text, :required => true, error: false,
          placeholder: "Debris description ...", rows: "6", 
          :class => "form-control"
  .col-md-6
    .form-group
      %label
        Location of Debris
      %input{ placeholder: 'Search a body of water...', id: 'loc-input', 
             class: 'controls' }
    .form-group
      .row
        .col-xs-6
          = f.input :lat, error: false,
            input_html: { id: 'project_lat', title: 'lat', class: 'form-control'}
        .col-xs-6
          = f.input :lng, error: false,
            input_html: { id: 'project_lng', title: 'lng', class: 'form-control'}
      #map{:style => "width: 100%; height: 350px;", class: 'form-control'}
    .form-group
      = f.button :submit, 
        class: "btn btn-primary btn-flat pull-right"
  :javascript
  //Turn off submit on "Enter" key
  $('#project_form').on('keyup keypress', function(e) {
    var keyCode = e.keyCode || e.which;
    if (keyCode === 13) { 
      e.preventDefault();
      return false;
    }
  }); 