%nav
  %ul.pagination.pagination-sm.no-margin.pull-right
    %li
      - if page > 0
        = link_to "&larr; Previous".html_safe,
                 debris_path(page: page - 1)
      - elsif page == 0
        = link_to "&larr; Previous".html_safe,
                 class: "previousdisabled"
    %li
      = link_to "Next &rarr;".html_safe,
                 debris_path(page: page + 1)