= simple_form_for([item, status]) do |f|
  .input-group
    = f.association :state, collection: State.excluding_unavailable.order(:created_at), 
      input_html: {class: "form-control"}, label: false, prompt: "Select status"
    %span.input-group-btn
      = f.button :submit, "Update State",
        class: "btn btn-primary btn-flat", id: "status_submit_#{item.id}"