%tr{id: "data_#{data.id}"}
  %td
    - unless data.chemical.nil?
      = data.chemical.name
    - unless data.biological.nil?
      = data.biological.name
    - unless data.physical.nil?
      = data.physical.name
    - else
      = data.name
  %td
    = data.value
  %td
    = data.unit
  %td
    = data.instrument
  %td
    = data.technique
  %td
    = data.calibration
  %td
    = data.info
  %td
    = data.created_at.utc.localtime.strftime("%d-%b-%Y")
  %td
    - if data.user.profile.present?
      = link_to contributor_user_name(data.user.profile), 
        user_profiles_path(data.user), class: "name"
    - else
      = link_to data.user, 
        user_profiles_path(data.user), class: "name"   
  %td
    = link_to "#{fa_icon("eye")} View".html_safe, [project, data], 
        class: "btn btn-default btn-xs"
    - if project_owner?(project)
      %span{"data-toggle": "tooltip", 
              "title": "Please refresh to edit newly added data."}
        = link_to "#{fa_icon("edit")} Edit".html_safe, 
                  "#", type: "button",  
                  class: "btn btn-default btn-xs", 
                  "data-toggle": "modal",
                  "data-target": "#updateModal-#{data.category_id}"
      = link_to "#{fa_icon("trash")} Delete".html_safe, [project, data], 
        title: 'Delete', class: "btn btn-default btn-xs", 
        method: :delete, remote: true,
        data: { confirm: "Are you sure you want to delete this data point?"} 
          
  = # Updating data points 
- if data.category_id == 1
  = render "scientific_data/shared/forms/chem/update_form", 
    project: project, scientific_datum: data
- elsif data.category_id == 2
  = render "scientific_data/shared/forms/bio/update_form", 
    project: project, scientific_datum: data
- elsif data.category_id == 3
  = render "scientific_data/shared/forms/physc/update_form", 
    project: project, scientific_datum: data
- else
  = render "scientific_data/shared/forms/terestrial/update_form", 
    project: project, scientific_datum: data