%thead
  %tr
    %th 
      Name
    %th 
      Value
    %th 
      Unit
    %th 
      Instrument
    %th 
      Collection Technique
    %th 
      Calibration
    %th 
      Additional Information
    %th 
      Entry Date
    %th
      Contributor
    - if project_owner?(@project)
      %th 
        Action
  