- title("Account Confirmation")
.container
  .register-box
    .register-logo
      %b 
        SPLASSH 
      Account
    .register-box-body
      .login-box-msg
        %p 
          Resend confirmation instructions
      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| 
        = devise_error_messages!
        .form-group.has-feedback
          = f.label :email
          = f.email_field :email, autofocus: true, 
            value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
            class: "form-control"
        .row
          .col-xs-12
            = f.button :submit, 
              class: "btn btn-primary btn-block btn-flat"
      = render "devise/shared/links"
