- title("Sign up")
.container
  .register-box
    .register-logo
      %b 
        SPLASSH 
      Account
    .register-box-body
      .login-box-msg
        %p 
          Sign up for a new account
      - resource.build_profile
      = simple_form_for(resource, as: resource_name, 
        url: registration_path(resource_name)) do |f| 
        = render 'shared/error_messages', object: f.object
        .form-group.has-feedback
          = f.fields_for :profile do |p|
            .form-group.has-feedback
              = p.input :firstname, required: true, autofocus: true, error: false,
                label: false, input_html: { class: 'form-control', 
                placeholder: "First name" }
            .form-group.has-feedback
              = p.input :lastname, :required => true, error: false, label: false, 
                input_html: { class: 'form-control', id: 'last_name', 
                placeholder: "Last name"}
        .form-group.has-feedback
          = f.input :email, :required => true, error: false,
            label: false,  input_html: { class: 'form-control', placeholder: "Email" }
        .form-group.has-feedback
          = f.input :password, required: true, error: false,
            label: false,  placeholder: ("Password #{@minimum_password_length} characters minimum" if @minimum_password_length),
            input_html: { class: 'form-control' }
        .form-group.has-feedback  
          = f.input :password_confirmation, required: true, error: false,
            label: false, input_html: { class: 'form-control', 
            placeholder: "Confirm password" }
        .row
          .col-xs-12
            = f.button :submit, "Create your Splassh Account", 
              class: "btn btn-primary btn-block btn-flat"
        %p
          By creating an account, you agree to Splassh's Terms of Use and Privacy Policy.
      = render 'devise/shared/links'
    
