%script{src: '//maps.googleapis.com/maps/api/js?key=AIzaSyDXi94E0bEbo_x1fj_ZsNJVz_QVpohIJag&libraries=places&callback=initAutocomplete', async: true, defer: true}
= simple_form_for project, html: {id: :project_form, multipart: true } do |f|
  = render 'shared/error_messages', object: f.object
  = f.error_notification

  .col-md-6
    .form-group
      = f.input :name, required: true, autofocus: true, title: "Project name",
        placeholder: "Project Name", label: "Project name", error: false,
        input_html: { class: 'form-control' }
    .form-group
      %label
        * Project Description
      = f.input_field :description, as: :text, :required => true, error: false,
          placeholder: "Project description ...", rows: "6", 
          :class => "form-control"
    .form-group
      = f.input :cover_photo, title: "Project Cover Photo", label: "Project Cover Photo",
        class: "form-control"
      - if f.object.cover_photo?
        = image_tag f.object.cover_photo.thumb.url
    .form-group
      %label
        Attachments (optional)
      = f.simple_fields_for :attachments do |ff|
        = ff.input :file, as: :file, label: "File ##{ff.index + 1}"
        = ff.input :file_cache, as: :hidden
  .col-md-6
    .form-group
      = f.input :body_of_water_name, :required => false,
        error: false, placeholder: "Name of the Body of Water/Watershed", 
        label: "Name of the Body of Water/Watershed",
        input_html: { class: 'form-control' }
    .form-group
      = f.association :body_of_water, collection: BodyOfWater.all, 
        input_html: {class: "form-control"}, label: "Body of Water",
        prompt: "Select body of water"
    .form-group
      = f.association :tag, collection: Tag.all, 
        input_html: {class: "form-control"}, label: "Tag",
        prompt: "Select Tag"
    // - if not project.persisted?
    // - if project.persisted?
    %input{ placeholder: 'Search location...', id: 'loc-input', 
         class: 'controls' }
    .form-group
      .row
        .col-xs-6
          = f.input :lat, error: false, label: "Latitude",
            input_html: { id: 'project_lat', title: 'lat', class: 'form-control'}
        .col-xs-6
          = f.input :lng, error: false, label: "Longitude",
            input_html: { id: 'project_lng', title: 'lng', 
            class: 'form-control'}
      #map{:style => "width: 100%; height: 350px;", class: 'form-control'}
      :javascript
        //Turn off submit on "Enter" key
        $('#project_form').on('keyup keypress', function(e) {
          var keyCode = e.keyCode || e.which;
          if (keyCode === 13) { 
            e.preventDefault();
            return false;
          }
        });
    .form-group
      = f.button :submit, 
        class: "btn btn-primary btn-flat pull-right"