%footer.main-footer.footer-distributed
  .footer-left
    %h3 
      SPLASSH&trade;
      (patent pending)
    %p.footer-links
      = link_to "Home | ", root_path
      = link_to "About | ", about_path
      = link_to "Terms of Service | ", terms_path
      = link_to "Privacy | ", privacy_path
      = link_to "Team |", team_path 
      = link_to "Testimonials ", testimonials_path 

    %p
      .footer-company-name
        = "© #{ DateTime.now.year } SPLASSH.  All Rights Reserved."
  .footer-center
    %div
      %i.fa.fa-map-marker
      %p  
        Kennesaw, Georgia
    %div
      %i.fa.fa-envelope
      %p  
        ladams at kennesaw.edu  
  .footer-right
    .footer-company-about
      %span 
        About Splassh
      We are building a site for the social good about water to crowdsource the condition of our waterways. 
      As a social network, SPLASSH will engage users to share, discuss and visually consume information 
      about water. Our mission is to inspire water conservation through awareness in hopes of 
      tackling one of the biggest global challenges that we face as a society, the sustainable use of water.
    .footer-icons
      %a{:href => "https://www.facebook.com/SPLASSHdata", :target => "_blank"}
        %i.fa.fa-facebook
      %a{:href => "https://twitter.com/SPLASSHdata", :target => "_blank"}
        %i.fa.fa-twitter
      %a{:href => "http://instagram.com/splasshData", :target => "_blank"}
        %i.fa.fa-instagram
      