%header.main-header
  %nav.navbar.navbar-static-top
    .container
      .navbar-header
        = link_to '<b>SPLASSH&trade;</b>'.html_safe, root_path, class: 'navbar-brand'
        %button.navbar-toggle.collapsed{ "data-target" => "#navbar-collapse", 
                              "data-toggle" => "collapse", :type => "button" } 
          %span.sr-only 
            Toggle navigation
          = fa_icon("bars")
      .collapse.navbar-collapse#navbar-collapse
        %ul.nav.navbar-nav
          %li{ :class => ("active" if current_page?("/")) }
            = link_to "Home", root_path
          %li.dropdown
            %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", 
                                          "data-target" => "#"} 
              About
              %b.caret
              %ul.dropdown-menu
                %li
                  = link_to "About", about_path
                %li
                  = link_to "Team", team_path 
                %li
                  = link_to "Sponsors", sponsors_path 
                %li
                  = link_to "Testimonials", testimonials_path 
                %li
                  = link_to "Metrics", metrics_path 
                %li.divider
                %li
                  = link_to "Terms of Service", terms_path
                %li 
                  = link_to "Privacy", privacy_path
          %li
            = link_to fa_icon("compass", text: "Explore"), 
              explore_index_path, class: 'explore-link'
          %li
            = link_to fa_icon("database", text: "Data Portal"), pH_path, class: 'portal-link'
        .navbar-custom-menu
          %ul.nav.navbar-nav
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", 
                                              "data-target" => "#"} 
                  = fa_icon("folder-open")
                  Projects
                  %b.caret
                  %ul.dropdown-menu
                    %li
                      = link_to "My Projects", projects_path
                    %li
                      = link_to "New Project", new_project_path
              %li.dropdown
                %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", 
                                              "data-target" => "#"} 
                  = fa_icon("map-marker")
                  Trackers
                  %b.caret
                  %ul.dropdown-menu
                    %li
                      = link_to "My Trackers", trackers_path
                    %li
                      = link_to "New Tracker", new_tracker_path
              %li.dropdown.notifications-menu#notifications-link
                %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", 
                                  "data-target" => "#", id: "item-link"} 
                  = fa_icon("bell-o")
                  - if current_user.notifications.unread.present?
                    %span.label.label-danger#unread-count
                      = current_user.notifications.unread.count
                %ul.dropdown-menu{"data-behavior": "notifications"}
                  %li.header
                    %span#notifications-header
                  %li
                    %ul.menu
                      %li#notifications-item
                      = render current_user.notifications.ord_recent.unread
                  %li.footer
                    = # link_to "Clear All" , "#", id: "clear_all", remote: true
              - if has_profile
                %li.dropdown.user.user-menu
                  %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", 
                                              "data-target" => "#"} 
                    = gravatar_for current_user, "user-image" 
                    - # User profile
                    -if current_user.profile.present?
                      = user_name(current_user)
                    %b.caret
                  %ul.dropdown-menu
                    %li.user-header
                      = gravatar_for current_user, "img-circle" 
                      %p
                        - # User profile
                        -if current_user.profile.present?
                          = user_name(current_user)
                        -else
                          = link_to "Create Your Profile", profile_root_path
                        %small
                          = "Member since #{ current_user.created_at.strftime("%B") }"
                          = " #{ current_user.created_at.year}"
                    %li.user-footer
                      .pull-left
                        - admins_only do
                          = link_to "Admin", admin_root_path, 
                            class: "btn btn-default btn-flat"
                        = link_to "Profile", user_profiles_path(current_user), 
                          class: "btn btn-default btn-flat"
                      .pull-right
                        = link_to "Sign Out", destroy_user_session_path, 
                                  method: :delete, class: "btn btn-default btn-flat"
              - else
                %li{ :class => ("active" if current_page?("users/sign_in")) }
                  = link_to "Sign Out", destroy_user_session_path, method: :delete,
                  class: "Sign out"
            - else
              %li{ :class => ("active" if current_page?("users/sign_in")) }
                = link_to "Sign In", new_user_session_path, class: "Sign in"
              %li{ :class => ("active" if current_page?("users/sign_up")) }
                = link_to "Sign Up", new_user_registration_path, class: "Sign up"
