%aside.main-sidebar
  %section.sidebar
    .user-panel
      .pull-left.image
      .pull-left.info
        %p
          dafd adfadf 
        = link_to "#" do
          %i.fa.fa-circle.text-success
          Online