- unless comment.user.nil?
  .box-comment.clearfix{id: "comment_#{comment.id}", 
  "data-user-id": "#{request.remote_ip}"}
    = gravatar_for comment.user,
    "img-responsive img-circle img-sm"
    .comment-text
      %span.username
        - if comment.user.profile.present?
          = link_to contributor_user_name(comment.user.profile), user_profiles_path(comment.user), 
          class: "name"
        - else 
          = link_to remove_mail_address(comment.user.email), user_profiles_path(comment.user), 
          class: "name"          
        %span.text-muted.pull-right
          = fa_icon("clock-o")
          = time_ago_in_words(comment.created_at)
          ago
      = comment.content
    - # Until we can access to warden outside controller actions, passing a can_render 
    - # argument to render nested comments will have to be the fix. 
    - # Passing a new warden object creates data inconsistency 
    - # where any users passed that object can modify records they don't own
    - if can_render
      = render 'comments/nested_comments', comment: comment, commentable: commentable
      