%ul.list-inline
  %li
    %button.btn.btn-box-tool{"data-target": "#comment_reply_#{comment.id}", 
    "data-toggle": "collapse"}
      %span{"data-toggle": "tooltip", 
              "title": "Please refresh to edit newly added comments."}
      %i.fa.fa-reply 
      reply
  %li
    - if comment.user == current_user
      = link_to fa_icon("trash", text: "Delete"),
        [commentable, comment], title: 'Delete', method: :delete, remote: true, 
        class: "btn btn-box-tool", 
        data: { confirm: "Are you sure you want to delete this comment?"}
  %li.pull-right
    %button.btn.btn-box-tool{"data-target": "#replies_#{comment.id}", 
    "data-toggle": "collapse"}
      %i.fa.fa-comments-o 
      replies
      = "(#{comment.comments.count})"
- if user_signed_in?
  .comment-form.collapse{id: "comment_reply_#{comment.id}"}
    .nest-comment-form
      = render "comments/shared/reply_form", comment: comment
- else 
  .comment-form.collapse{id: "comment_#{comment.id}"}
    %p
      You must be 
      = link_to "signed", new_user_session_path
      in to reply to a comment.
.col-md-12{id: "comment#{comment.id}"}
  .comments.collapse{id: "replies_#{comment.id}"}
    - if comment.comments 
      = render comment.comments, commentable: comment, can_render: true