$(document).ready(function() { 
  if($("#comment_<%= @comment.id %>").length){
  } else {
    <% element = "=====" %>
    <% if @comment.commentable_type.eql? "Project" %>
         <% element = "#comments_#{@commentable.id}" %>
    <% else %>
         <% element = "#comment_#{@commentable.id}" %>
    <% end %>
    
    $("<%= element %>").
      prepend("<%=j render 'comments/comment', commentable: @commentable, comment: @comment,
                                               can_render: true %>");
                                               
    $("#comment_<%= @commentable.id %>").hide().fadeIn("slow");
    $("#no-comment").hide();
    $('.nest-comment-form').hide();
    $('#comment_content_<%= @commentable.id %>').val('');
  }
});

