- title("Show Comment")
.container
  .content
    .title-block
      .row
        .col-md-12
          %h2.title
            Comment
            %small
              Showing Comment
            = link_to fa_icon("arrow-left") + " Back", 
              request.referer.present? ? request.referer : default_path,
              class: "btn btn-primary btn-sm rounded-s pull-right"
      .row
        .col-md-6
          = render 'comments/comment', comment: @comment, can_render: false