.box-comment.clearfix{id: "status_#{status.id}"}
  = gravatar_for status.author,
  "img-responsive img-circle img-sm"
  .comment-text
    %span.username
      = link_to "#{status.author.username}", user_profiles_path(status.author), 
      class: "name"
      %span.text-muted.pull-right
        = fa_icon("clock-o")
        = time_ago_in_words(status.created_at)
        ago
    %p
      = state_transition_for(status)