.col-md-6.col-sm-3.col-xs-12
  %h3.x_title
    Biological Data
    .clearfix
  .panel-body
    - # Speficies the id of the physical data category
    - # Don't change unless id is different in database
    = frm.hidden_field :category_id, value: 2
    .form-group
      - # Organism name goes here
      = frm.label :biological_id, "* Organism Name"
      = frm.collection_select :biological_id, Biological.all, :id, :name, 
         {prompt: "Select an organism"}, 
         {class: "form-control", id: 'data_name'}
    .form-group
      = frm.label :unit, "* Unit"
      = frm.select(:unit, ["Collonies per liter", "Collonies per milliliter"], 
        { include_blank: "Select a unit"}, { class: "form-control"})
    .form-group
      = frm.input :value, :required => true, error: false,
        input_html: { class: 'form-control', id: 'data_value'}
    .form-group
      = frm.label :unit, "Date Collected"
      %br
      %div
        %span#style-date-select
          = frm.date_select :created_at, input_html: { style: 'color:black'}

      // = select_date Date.today, prefix: :start_date
      // = frm.date_select :created_at, {class: "form-control"}
      // = frm.input :created_at, required: true, autofocus: true, error: false, 
      //   input_html: { class="form-control" id='datetimepicker4'}
      // = frm.date_select :created_at, {class: "form-control"}
      
      // = frm.input :created_at, :required => true, autofocus: true, error: false, :discard_hours => true,
      //   input_html: {type:'text', class: 'form-control' }
      // = frm.text_field :created_at, 'data-behaviour' => 'datepicker' 
      // = frm.text_field :created_at, 'data-provide'=>'datepicker'

      // = frm.select(:unit, ["Collonies per liter", "Collonies per milliliter"], 
      //   { include_blank: "Select a unit"}, { class: "form-control"})
.col-md-6.col-sm-3.col-xs-12
  %h3.x_title
    Collection Technique
    .clearfix
  .panel-body
    .form-group.has-feedback  
      = frm.input :instrument, required: true, autofocus: true, error: false,
        input_html: { class: 'form-control', id: 'col_instrument'}
    .form-group
      = frm.input :technique, :required => true, error: false,
        input_html: { class: 'form-control', id: 'col_technique'}
    .form-group
      = frm.input :calibration, :required => true, error: false,
        collection: ["Yes", "No"],  prompt: "Select calibration",
        input_html: { class: 'form-control', id: 'col_calibration'}
    .form-group
      = frm.label :info, "Additional info"
      = frm.input_field :info, as: :text, :required => true, error: false,
        placeholder: "Additional information ...", rows: "6", 
        :class => "form-control", :id => "col_info"