.modal.modal-primary.fade{id: "updateModal-#{scientific_datum.category_id}", 
  tabindex: -1, role: "dialog", 
                  "aria-labelledby": "exampleModalLabel", "aria-hidden": "true"}
  = render "scientific_data/shared/forms/update_modal", 
    project: project, scientific_datum: scientific_datum, 
    form_name: "Bio", fields_path: "bio/fields"