- featured.each do |project|
  .col-md-3.col-sm-3.bottom10
    .card
      = image_tag project.cover_photo.small.url, class: "img-fluid"
    .card-block
      // = render project.tag
      .featured-title
        %h2.title-small
          = link_to truncate(project.name, length: 33), project
      %p.card-text
        %small
          = fa_icon("user")
          = link_to " #{project.author.username}".html_safe,
            user_profiles_path(project.author)
        %small.text-time.pull-right
          %em
            = time_ago_in_words(project.created_at)
            ago