.box.box-solid.box-news
  .box-header
    .box-title
      %b
        SPLASSH
      Featured Projects
  .box-body#box-news-body
    #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li
        %li
      .carousel-inner
        - index = 0
        - featured.each do |project|
          - active = featured_first(index)
          .item{class: "#{active}"}
            .featured-block
              .featured-media
                = image_tag project.cover_photo.med.url, class: "carousel-project-image "
              .featured-text
                .featured-title
                  %h2.title-large
                    = link_to project.name, project
                .news-des
                  = truncate(project.description, length: 165)
                .time-text
                  %strong
                    = time_ago_in_words(project.created_at)
                    ago
          - index += 1
    /indicators
    .row
      = link_to "#carousel-example-generic", class: "left carousel-control", 
        role: "button","data-slide": "prev" do
        %span.glyphicon.glyphicon-chevron-left
        %span.sr-only
          Previous
      = link_to "#carousel-example-generic", class: "right carousel-control", 
        role: "button", "data-slide": "next" do
        %span.glyphicon.glyphicon-chevron-right
        %span.sr-only
          Next