%div
  %center
    %h2.sectionSubTitle
      Features
    %h4.sectionSubTitleSub
      Start your own project, or join others in sharing data about our most precious resource; Water.   
    %br   
  %center.feature-info
    .row
      .feat
        .col-md-4
          .feat-img.sectionText
            = fa_icon("tint")
          %h4.sectionTitle
            Water Projects
          %p.sectionText
            Start your own project, or 
            join others in sharing data about our most precious resource; Water.
    
      .feat
        .col-md-4
          .feat-img.sectionText
            = fa_icon("map-marker")
          %h4.sectionTitle
            Trackers
          %p.sectionText
            Create trackers to track anything that can be mapped
    
      .feat
        .col-md-4
          .feat-img.sectionText
            = fa_icon("users")
          %h4.sectionTitle
            Collaboration
          %p.sectionText
            Collaborate or discuss projects with other users.