.row
  .col-md-12
    .box.box-primary
      .box-header
        %h3.box-title
          = title
      .box-body
        .row
          - members.oldest.each do |member|
            .col-md-3
              .box.box-solid.box-default
                .box-header
                  %h3.box-title
                    = member.name
                    %small
                      = member.role
                .box-body
                  - if member.image.present?
                    = image_tag member.image.small.url, 
                      class: "img-responsive img-circle widget-user-image center-block" 
                  %p
                    = member.about
                .box-footer
                  = render 'pages/partials/team_social', member: member
                  