.row
  - if member.website.present?
    .col-md-3
      %a{href: "#{member.website}", target: "_blank"}
        = fa_icon("globe")
  - if member.linkedin.present?
    .col-md-3
      %a{href: "#{member.linkedin}", target: "_blank"}
        = fa_icon("linkedin")
  - if member.facebook.present?
    .col-md-3
      %a{href: "#{member.facebook}", target: "_blank"}
        = fa_icon("facebook")
  - if member.twitter.present?
    .col-md-3
      %a{href: "#{member.twitter}", target: "_blank"}
        = fa_icon("twitter")