= simple_form_for([user, profile], html: {id: "profile-form"}) do |f|
  = render 'shared/error_messages', object: f.object
  .col-md-6
    .form-group
      = f.input :firstname, required: true, autofocus: true, title: "First Name",
        placeholder: "First Name", label: "First Name", error: false,
        input_html: { class: 'form-control' }
    .form-group
      = f.input :lastname, required: true, autofocus: true, title: "Last Name",
        placeholder: "Last Name", label: "Last Name", error: false,
        input_html: { class: 'form-control' }
    .form-group
      = f.input :about, required: true, autofocus: true, title: "About",
        placeholder: "About", label: "About", error: false,
        input_html: { class: 'form-control' }
  .col-md-6
    .form-group
      %label.control-label
        Are you a student?
      .checkbox
        %input{name: "student", type: "radio", value: "yes", for: "tag"}
          Yes
      .checkbox
        %input{name: "student", type: "radio", value: "no", for: "tag"}
          No
    .form-group.hidden#occupation
      = f.input :tag, required: true, autofocus: true, title: "Occupation", 
        label: "Occupation", error: false, prompt: "Select your occupation",
        collection: ["Trained Scientist", "Citizen Scientist"],
        input_html: { class: "form-control" }
    .form-group.hidden#education
      %label.control-label
        = f.input :educationlevel, as: :radio_buttons, autofocus: true, 
          title: "Education Level", label: "What is your education level?",
          collection: ["High School", "College/Undergraduate", "College/Graduate"]
    .form-group.hidden#school
      = f.input :school, required: true, autofocus: true, title: "School",
        placeholder: "School", label: "School", error: false,
        input_html: { class: 'form-control'}
    .form-group
      %label.control-label
        = f.input :private, as: :radio_buttons, 
          label: "Private profile?"
    .form-group
      = f.button :submit, 
        class: "btn btn-primary btn-flat pull-right"
