= simple_form_for(:ph_dataset, remote: true, url: "#", 
html: {id: "search-form"}) do |f|
  .form-group
    %label  
      Dataset
    .input-group
      .input-group-addon
        = fa_icon("database")
      = f.input :id, collection: @ph_datasets, prompt: "Please select a dataset", 
        input_html: { id: "dataset-select", class: "form-control"}, label: false
  .hidden#date
    .form-group
      %label  
        Start Date
      .input-group.date
        .input-group-addon
          = fa_icon("calendar")
        = f.input_field :time_coverage_start, 
          class: "form-control date-picker", id: "start-date",
          placeholder: "#{@ph_dataset.try(:time_coverage_start)}",
          required: true
    .form-group
      %label  
        End Date
      .input-group.date
        .input-group-addon
          = fa_icon("calendar")
        = f.input_field :time_coverage_end, 
          class: "form-control date-picker", id: "end-date",
          placeholder: "#{@ph_dataset.try(:time_coverage_end)}",
          required: true
    .form-group
      = link_to "Retrieve Data", "#", class: "btn btn-primary btn-flat pull-right",
        id: "retrieve-data", remote: true, :onclick => "invoke_data_retrieval();"
      
      
