
%table.table.table-hover#ph-data-info{"data-url": ph_dataset.to_json}
  %tr
    %th
      Title
    %td
      = ph_dataset.title
  %tr
    %th 
      Dataset Id
    %td
      = ph_dataset.dataset_id
  %tr
    %th 
      Institution
    %td
      = ph_dataset.institution
  %tr
    %th
      Min Date
    %td
      - unless ph_dataset.time_coverage_start.nil?
        = Date.parse(ph_dataset.time_coverage_start).strftime("%m/%d/%Y")\
      - else
        No Date
  %tr
    %th
      Max Date
    %td
      - unless ph_dataset.time_coverage_end.nil?
        = Date.parse(ph_dataset.time_coverage_end).strftime("%m/%d/%Y")
      - else
        No Date
  %tr
    %th 
      Variable
    %td
      sea_water_ph_reported_on_total_scale