- title("Data Portal")
.container
  .content
    .title-block
      .row
        .col-md-12
          %h1.title
            SPLASSH's
            %small
              pH Data Portal
            .pull-right
              = link_to "#{fa_icon("play")} Demo".html_safe, 
                "#", remote: true, type: "button",  
                class: "btn btn-danger", "data-toggle": "modal",
                :onclick => "startDemo(0)",
                      "data-target": "", title: "Edit"
          .pull-right
            %span#step_one
              Data source:
            %small
              = link_to "SECOORA", "http://secoora.org/", target: "_blank"
      .row
        .col-md-12
          .nav-tabs-custom
            %ul.nav.nav-tabs
              %li.active#step_two
                %a{href: "#dataset_view", "data-toggle" => "tab"}
                  Dataset
              %li#step_three
                %a{href: "#map_view", "data-toggle" => "tab", 
                   :onclick => "displaySecooraMap(#{@ph_datasets.to_json.html_safe})"}
                  Map
          .tab-content
            .active.tab-pane#dataset_view
              .row
                .col-md-12
                  = render 'ph_datasets/partials/dataset_view'
            .tab-pane#map_view
              .row
                .col-md-12
                  = render 'ph_datasets/partials/map_view'