$("#selected_dataset").empty()
  .append("<%= escape_javascript(render(:partial => @dataset)) %>")
$("#selected_dataset_view").empty()
  .append("<%= escape_javascript(render(:partial => 'ph_datasets/partials/selected_dataset', 
                                        locals: {dataset: @dataset})) %>")

function render_default_date() {
  $("#date").removeClass("hidden")
  <% unless @dataset.time_coverage_start.nil? %>
    <% start_date = Time.parse(@dataset.time_coverage_start).strftime("%m/%d/%Y") %>
    <% end_date = Time.parse(@dataset.time_coverage_end).strftime("%m/%d/%Y") %>
    
    $("#start-date").datepicker("setDate", "<%= start_date %>");
    $("#end-date").datepicker("setDate",   "<%= end_date %>");
  <% end %>
}


render_default_date();
updateSelectionDemo();