#user-info
  .about
    %strong
      %i.fa.fa-file-text-o.margin-r-5
        About
    %p.text-muted
      - if @user.profile.about.present?
        = @user.profile.about
      - else 
        No about found.
  .education
    %strong
      %i.fa.fa-book.margin-r-5
        School
    %p.text-muted
      - if @user.profile.school.present?
        = @user.profile.school
      - else 
        No education information found.
  .education-level
    %strong
      %i.fa.fa-graduation-cap.margin-r-5
        Education Level
    %p.text-muted
      - if @user.profile.educationlevel.present?
        = @user.profile.educationlevel
      - else 
        No education level information found.