.box.box-solid
  .box-header
    - if user.profile.private  
      %p  
        Your profile is private. 
        Only you can see this activity
  .box-body
    -if activities.present?
      - activities.each do |activity|
        .post
          .user-block
            = gravatar_for activity.user,
              "img-circle img-bordered-sm"
            %span.username
              = user_name activity.user
            .description
              Completed 
              = time_ago_in_words(activity.created_at)
              ago
          %p
            = render "activities/#{activity.trackable_type.underscore}/#{activity.action}", 
            activity: activity
    - else
      %p
        This user does not have recent activity to show.
  .box-footer
    = paginate activities, remote: true
  