- if user.contributors.present?
  .box.box-solid
    .box-header
    .box-body
      #projects
        %section.col-xs-12.col-sm-6.col-md-12
          = render user.contributor_projects
    .box-footer
- else
  %p
    This user does not have collabolative projects yet