.modal.modal-primary.fade#profileInfoModal{tabindex: 1, role: "dialog", 
                  "aria-labelledby": "exampleModalLabel", "aria-hidden": "true"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h3.modal-title
          = "Edit About Me"
          %button.close{type: "button", "data-dismiss": "modal", "aria-label": "Close"}
            %span{"aria-hidden": true}
            &times;
      .modal-body
        %div#form_errors
        = simple_form_for([user, profile], remote: true) do |f| 
          = render "profiles/shared/forms/about", frm: f
          .modal-footer
            %button.btn.btn-outline.pull-left{role: "button", "data-dismiss": "modal"}
              Close
            = f.button :submit, class: "btn btn-outline submitForm"        