- if user.favorite_projects.present?
  .box.box-solid
    .box-header
    .box-body
      #projects
        %section.col-xs-12.col-sm-6.col-md-12
          = render user.favorite_projects
    .box-footer