- if user.trackers.present?
  .box.box-solid
    .box-body
      #projects
        %section.col-xs-12.col-sm-6.col-md-12
          = render user.trackers
    .box-footer
- else
  %p
    This user does not have any trackers yet.