.box.box-solid
  .box-header
    %h3.box-title
      Your Information
  .box-body
    .row
      .col-md-6
        .box
          .box-header.with-border
            %h3.box-title
              Settings Links
          .box-body.no-padding
            %table.table.table-striped
              %tr
                %th
                  Links
                %th
                  Description
              %tr
                %td
                  = link_to "Profile", user_profiles_path(current_user)
                %td
                  %p
                    Manage your profile info
              %tr
                %td 
                  = link_to "Projects", projects_path
                %td
                  Manage your projects
              %tr
                %td 
                  Password
                %td
                  Logout and reset your password through the link on login page
              