= link_to user_name(activity.user), user_profiles_path(activity.user)
added
- if activity.trackable.user.profile.present?
  = link_to contributor_user_name(activity.trackable.user.profile), 
    user_profiles_path(activity.trackable.user)
-else
  = link_to activity.trackable.user, 
    user_profiles_path(activity.trackable.user)
on the project
= link_to activity.trackable.contributable.name, activity.trackable.contributable
as a contributor
