%script{src: '//maps.googleapis.com/maps/api/js?key=AIzaSyDXi94E0bEbo_x1fj_ZsNJVz_QVpohIJag&libraries=places&callback=initAutocomplete', async: true, defer: true}
// = simple_form_for project, html: {id: :project_form, multipart: true } do |f|
// = simple_form_for([project, site], html: {id: :site_form}) do |f| 
= simple_form_for ([project, site]), html: {id: :site_form, multipart: true } do |f|
  = render 'shared/error_messages', object: f.object 
  .col-md-6
    .form-group
      = f.input :name, required: true, autofocus: true, title: "Site Name",
        placeholder: "Site Name", label: "Site Name", error: false,
        input_html: { class: 'form-control' }
    .form-group
      %label
        * Site Description
      = f.input_field :description, as: :text, :required => true, error: false,
          placeholder: "Site description ...", rows: "6", 
          :class => "form-control"
  .col-md-6
    %b
      * Site Location
    %br
    %input{ placeholder: 'Search location...', id: 'loc-input', 
         class: 'controls' }
    .form-group
      %br
      .row
        .col-xs-6
          = f.input :lat, error: false, label: "Latitude",
            input_html: { id: 'site_lat', title: 'lat', class: 'form-control'}
        .col-xs-6
          = f.input :lng, error: false, label: "Longitude",
            input_html: { id: 'site_lng', title: 'lng', 
            class: 'form-control'}
      #map{:style => "width: 100%; height: 350px;", class: 'form-control'}
      :javascript
        //Turn off submit on "Enter" key
        $('#project_form').on('keyup keypress', function(e) {
          var keyCode = e.keyCode || e.which;
          if (keyCode === 13) { 
            e.preventDefault();
            return false;
          }
        });
    .form-group
      = f.button :submit, 
        class: "btn btn-primary btn-flat pull-right"