- if project_owner?(project) or project_contributor?(project) or project.scientific_data.present?
  .box.box-solid.box-default
    .box-header 
      %h3.box-title
        Aquatic Data
      .box-tool.pull-right
        %button.btn.btn-box-tool{"data-widget": "collapse"}
          %i.fa.fa-minus
    .box-body
      .row
        .col-md-12
          .row
            - categories.each do |cat|
              .col-md-12
                .box.box-solid{class: "box-#{ cat.name.downcase }" }
                  .box-header.with-border
                    %h3.box-title
                      = "#{ cat.name } Data"
                    .box-tools.pull-right
                      %span.label.label-default{id: "label-#{ cat.name }"}
                      - if project_owner?(project) or project_contributor?(project)
                        = link_to "#{fa_icon("plus-square")} Add New".html_safe, 
                          "#", type: "button",  
                          class: "btn btn-outline", 
                          "data-toggle": "modal", 
                          "data-target": "#dataModal-#{ cat.name.downcase }"
                      %button.btn.btn-box-tool{"data-widget": "collapse"}
                        %i.fa.fa-minus
                  .box-body
                    %table#example1.table.table-responsive.table-striped.table-hover{ class: "box-#{ cat.name }" }
                      = render "projects/partials/table/table_header"
                      %tbody
                        - project.scientific_data.where(category_id: cat.id).all.each do |sd|
                          = render "projects/partials/table/table_body", data: sd, project: project
- else
  .row
    .col-md-12  
      %p
        This project does not have data yet.
  