.box.box-solid#discussions{"data-project-id": "#{project.id}"}
  .box-header.with-border
    %h3.box-title
      Discussions
    .box-tools.pull-right
      %span.label.label-primary
        = pluralize(project.comments.count, "thread")
      %button.btn.btn-box-tool{"data-widget": "collapse"}
        = fa_icon("minus")
  .box-body
    - if user_signed_in?
      = render "comments/shared/form", obj: project  
    - else 
      %p
        Please
        = link_to "login", new_user_session_path
        to post to the discussion
  .box-footer.box-comments#comments
    .comments{id: "comments_#{project.id}"}
      = render project.comments.desc, commentable: project, can_render: true
      - if project.comments.count == 0
        %p#no-comment
          This  
          = "#{project.class.to_s.underscore.humanize.downcase}"
          doesn't have any comments. 
          Be the first to add a comment.