- if user_signed_in? 
  - unless current_user.favorite_projects.exists?(project.id)
    = link_to "#{fa_icon("star-o")} Favorite".html_safe, 
      favorite_projects_path(project_id: @project.id), method: :post,
      class: "btn btn-primary", title: "favorite"
  - else
    = link_to "#{fa_icon("star")} Unfavorite".html_safe, 
      favorite_project_path(@project), method: :delete,
      data: { confirm: "Are you sure you remove from favorites? "},
      class: "btn btn-primary", title: "Unfavorite"
      
      
