- if project_owner?(project) or project_contributor?(project) or project.field_notes.present?
  .box.box-solid.box-default
    .box-header
      %h3.box-title
        Field Notes
      - if project_owner?(@project) or project_contributor?(@project)
        = render 'field_notes/form'
      .box-tools.pull-right
        %button.btn.btn-box-tool{"data-widget": "collapse"}
          %i.fa.fa-minus
    .box-body
      .row#field_notes
        = render @project.field_notes.ord_recent.persisted