.box.box-solid
  .box-header.with-border
    %h3.box-title
      Details
  .box-body
    %center
      - if project.cover_photo.present?
        = image_tag project.cover_photo.large.url, class: "project-image", :size => "300x170"
      -else
        = image_tag "oceanimage.jpg" , class: "project-image", :size => "300x170"
      .project_detail.top15
        %p.title
          Project Name
        %p
          = project.name
        %p.title
          Project Description
        %p
          = project.description
        %p.title
          Body of Water
        %p
          - if project.body_of_water.present?
            = render project.body_of_water
          -else
            None selected
        %p.title
          Project Owner
        %p.author
          - if project.author.profile.present?
            = link_to user_name(project.author), user_profiles_path(project.author)
          - else 
            = link_to remove_mail_address(project.author.email), user_profiles_path(project.author)
  
        - if project.attachments.present?
          %p.title
            Project Files
        %ul.list-unstyled.project_files
          - project.attachments.each do |attachment|
            %li
              = link_to File.basename(attachment.file.url),
              attachment.file.url
              = "(#{number_to_human_size(attachment.file.size)})"
        - if project.contributors.present?
          %p.title
            Contributors
          %ul.list-unstyled
            - project.contributors.each do |contributor|
              %li 
                - if contributor.user.profile.present?
                  = link_to contributor_user_name(contributor.user.profile), 
                    user_profiles_path(contributor.user)
                - else
                  = link_to contributor.user, 
                    user_profiles_path(contributor.user)        
  .box-header.with-border
    %h3.box-title
      Share 
  .box-body
    %center
      // = social_share_button_tag("Check out my cool water project on SPLASSH!")
      = social_share_button_tag(project.name, desc: project.description)
