= simple_form_for(:users, remote: true, method: :get, html: {id: "search-form"}) do |f|
  .input-group
    = label_tag :name, nil, class: "sr-only"
    = text_field_tag :name, params[:name], placeholder: "Search user...",
      class: "form-control"
    %span.input-group-btn
      = button_tag fa_icon("search", text: ""), name: nil,
        class: "btn btn-default btn-flat", id: "search-form-submit"