.box.box-solid.box-default{class: "box-Terestrial" }
  .box-header
    %h3.box-title
      Terestrial Data
    .box-tools.pull-right
      %span.label.label-default{id: "label-terestrial"}
      - if project_owner?(project) or project_contributor?(project)
        = link_to "#{fa_icon("plus-square")} Add New".html_safe, 
          "#", type: "button",  
          class: "btn btn-outline", 
          "data-toggle": "modal", 
          "data-target": "#dataModal-terestrial"
      %button.btn.btn-box-tool{"data-widget": "collapse"}
        %i.fa.fa-minus
  .box-body
    %table#example1.table.table-responsive.table-striped.table-hover{ class: "box-terestrial" }
      = render "projects/partials/table/table_header"
      %tbody
        - project.scientific_data.where(category_id: nil).all.each do |sd|
          = render "projects/partials/table/table_body", data: sd, project: project