%ul.timeline.timeline-inverse
  - # project activities
  - activities = project.activities
  
  - # contributor activities
  - project.contributors.each do |contributor|
    - activities = activities.or(contributor.activities)
    
  - # scientific data activities
  - project.scientific_data.each do |scientific_datum|
    - activities = activities.or(scientific_datum.activities)
  
  - activities.desc.each do |activity|
    = render "activities/project/timeline/#{activity.action}", 
      activity: activity
  %li 
    %i.fa.fa-clock-o.bg-gray