.col-md-6
  .box.box-solid.box-primary
    .box-header.with-boarder
      .row
        .col-md-6
          %h3.box-title
            Projects
        .col-md-6
          = render "explore/shared/projects_search_form"
    .box-body
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active
            %a{href: "#all_projects", "data-toggle" => "tab"}
              All        
          %li
            %a{href: "#pop_projects", "data-toggle" => "tab"}
              Popular
          %li 
            %a{href: "#new_projects", "data-toggle" => "tab"}
              Newest
          %li#search_results 
            %a{href: "#search_projects", "data-toggle" => "tab", 
              class: "show_search_results"}
              Search Results
      .div.scrolldiv
        .tab-content
          .tab-pane#search_projects
            #search_results_info
            #projects_result
          .active.tab-pane#all_projects
            = render 'explore/partials/projects', 
              projects: @projects.all.ord_recent
          .tab-pane#pop_projects
            = render 'explore/partials/projects', 
              projects: @projects.ord_popular.limit(10)
          .tab-pane#new_projects
            = render 'explore/partials/projects', 
              projects: @projects.ord_recent.limit(10)
.col-md-6
  .box.box-primary.box-solid
    .box-header
      %h3.box-title
        Projects on Map
    .box-body
      #map{:style => "width: 100%; height: 450px;"}
        :javascript
          $(document).ready(function(){
            // pass ruby variable to javascript
            var projects = #{@projects.to_json.html_safe}
            // init show map for project  
            initMap(projects);  
          });
