.col-md-6
  .box.box-solid.box-primary
    .box-header.with-boarder
      .row
        .col-md-6
          %h3.box-title
            Trackers
        .col-md-6
          = render "explore/shared/trackers_search_form"
    .box-body
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active
            %a{href: "#all_trackers", "data-toggle" => "tab"}
              All
          %li
            %a{href: "#new_trackers", "data-toggle" => "tab"}
              Newest
          %li#tracker_search_results 
            %a{href: "#search_trackers", "data-toggle" => "tab", 
              class: "show_tracker_search_results"}
              Search Results
      .div.scrolldiv
        .tab-content
          .active.tab-pane#all_trackers
            = render 'explore/partials/trackers',
              trackers: @trackers.all
          .active.tab-pane#new_trackers
            = render 'explore/partials/trackers',
              trackers: @trackers.ord_recent.limit(10)
          .tab-pane#search_trackers
            #tracker_search_results_info
            #trackers_result
.col-md-6
  .box.box-primary.box-solid
    .box-header
      %h3.box-title
        Trackers on Map
    .box-body
      #tracker_map{:style => "width: 100%; height: 450px;"}

