- title("Reset Password")
.login-box
  .login-logo
    %b 
      SPLASSH 
    Account
  .login-box-body
    .login-box-msg
      %p 
        Use the form below to change your password
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages! 
      = f.hidden_field :reset_password_token
      .form-group.has-feedback
        = f.input :password, required: true, error: false, autocomplete: "off",
          label: false,  placeholder: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
          input_html: { class: 'form-control' }
      .form-group.has-feedback  
        = f.input :password_confirmation, required: true, error: false,
          label: false, input_html: { class: 'form-control', autocomplete: "off",
          placeholder: "Confirm password" }
      .row
        .col-xs-12
          = f.button :submit, "Change Password", 
            class: "btn btn-primary btn-block btn-flat"
    = render "devise/shared/links"
  


