- title("Account Confirmation")
.login-box
  .login-logo
    %b 
      SPLASSH 
    Account
  .login-box-body
    .login-box-msg
      %p 
        Forgot your password?
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      .form-group.has-feedback
        = f.input :email, required: true, autofocus: true,  label: false, 
          input_html: { class: "form-control"  }, placeholder: "Please enter your email"
      .row
        .col-xs-12
          = f.button :submit, "Send me reset password instructions", 
            class: "btn btn-primary btn-block btn-flat"
    = render "devise/shared/links"
  
