%script{src: '//developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js', type: 'text/javascript'}
- title("Debris Tracker")
.container
  .content
    .title-block
      .row
        .col-md-12
          %h2.title
            Debris Tracker
            = link_to fa_icon("plus") + " New Debris", new_debri_path, 
              class: "btn btn-primary btn-sm rounded-s pull-right"
    .box.box-solid
      .box-header
      .box-body
        .row
          .col-md-6
            #map{:style => "width: 100%; height: 350px;"}
            :javascript
              $(document).ready(function(){
                // pass ruby variable to javascript
                
                var debris = #{@locations.to_json}
                // init show map for project  
                initMap(debris);    
              });
          .col-md-6.col.sm-4
            .box.box-primary
              .box-header.with-border
                %h4.box-title
                  Recently Tracked Debris
                .table-responsive
                  %table.table.no-margin
                    %thead
                      %tr
                        %th
                          ID
                        %th 
                          Title
                        %th
                          Status
                        %th 
                          Actions
                    %tbody
                    - count = 0
                    - @debris.each do |d|
                      %tr 
                        %td
                          = "#{d.id}"
                        %td
                          %p{class: "debris-list", 
                            :onclick => "openInfo(#{count});"}
                            = d.title
                            - count += 1
                        %td 
                          - if d.status.eql? "Collected"
                            %span.label.label-success
                              = d.status
                          - else
                            %span.label.label-danger
                              = d.status
                        %td
                          = link_to d, class: "btn btn-primary btn-xs", 
                            title: d.title do
                            View
                            %i.fa.fa-folder
                          = link_to edit_project_url(d.id), title: "Edit",
                            class: "btn btn-info btn-xs" do
                            Edit
                            %i.fa.fa-pencil
                          = link_to d, title: 'Delete', 
                            class: "btn btn-danger btn-xs", method: :delete, 
                            data: { confirm: "Are you sure you want to delete this debris?" } do
                            Delete
                            %i.fa.fa-trash-o
              .box-footer.clear-fix
                = render partial: "debris/shared/pager", locals: {page: @page}