- title "New Debris"
.container
  %section
    .content
      %h2
        Debris
        %small
          Add Debris Details 
          = link_to fa_icon("arrow-left") + " Back", 
            debris_path, 
            class: "btn btn-primary btn-sm rounded-s pull-right"
      .box.box-primary
        .box-header.with-border
          .box-title
            %h3
              Debris Details
        .box-body
          .row
            = render "debris/shared/form", debris: @debris