%script{src: '//developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js', type: 'text/javascript'}
- title(@debris.title)
.container
  .content
    .title-block
      .row
        .col-md-12
          %h2.title
            Debris Tracker -
            = @debris.title
            = link_to fa_icon("eye") + " All Debris",debris_path, 
              class: "btn btn-primary btn-sm rounded-s pull-right"
      .row
        .col-md-12
          .nav-tabs-custom
            %ul.nav.nav-tabs
              %li.active
                %a{href: "#activity", "data-toggle" => "tab"}
                  Debris details
              %li 
                %a{:href => "#data", "data-toggle" => "tab"}
                  More Information 
                %li 
                  %a{:href => "#settings", "data-toggle" => "tab"}
                    Settings
            .tab-content
              .active.tab-pane#activity
                .row
                  .col-md-6.col-sm-3.col-xs-12
                    .box.box-info
                      .box-header.with-border
                        %h3.box-title
                          Debris Information
                      .box-body
                        .project_detail
                          %p.title
                            Debris name
                          %p
                            = @debris.title
                          %p.title
                            Debris Description
                          %p
                            = @debris.description
                  .col-md-6
                    .box.box-danger
                      .box-header.with-border
                        %h3.box-title
                          Debris Location
                      .box-body
                        #map{:style => "width: 100%; height: 280px;"}
                          :javascript
                            $(document).ready(function(){
                              // pass ruby variable to javascript
                              var debris = #{@debris.to_json}
                              // init show map for project  
                              gmap_show(debris);    
                            });
                  .col-md-6
                  .col-md-6
                    .box.box-primary
                      .box-header.with-border
                        %h3.box-title
                          Discussions
                      .box-body
                        - if user_signed_in?
                          = render "comments/shared/form", obj: @debris  
                        - else 
                          %p
                            Please
                            = link_to "login", new_user_session_path
                            to post to the discussion
                        .col-md-12
                          .comments{id: "comment_#{@debris.id}"}
                            - if @debris.comments 
                              - @comments.each do |comment| 
                                = render "comments/comment", commentable: @debris, 
                                  comment: comment
                            - if @debris.comments.count == 0
                              %p#no-comment
                                This Debris doesn't have any comments. 
                                Be the first to add a comment.