= simple_form_for [:admin, @secoora_dataset], html: {id: :secoora_dataset_form, multipart: true } do |f|
  = render 'shared/error_messages', object: f.object
  .col-md-6
    .form-group
      = f.input :dataset_url, required: true, autofocus: true, title: "Dataset Url",
        placeholder: "Dataset Url", label: "Dataset Url", error: false,
        input_html: { class: 'form-control' }
    .form-group
      = f.input :about, title: "About dataset", label: "About dataset",
        input_html: { class: 'form-control' }
    .form-group.checkbox
      = f.input :processed, label: "Dataset processed?"
    .form-group.checkbox
      = f.input :cleaned, label: "Dataset cleaned?"
    .form-group
      = f.button :submit, 
        class: "btn btn-primary btn-flat pull-right"