- title "Edit Secoora Dataset"
.container
  %section
    .content
      %h2
        Secoora
        %small
          Edit Dataset
      .box
        .box-header.with-border
          %h3.box-title
            Dataset Details
        .box-body
          .row
            = render "form"