- title("Projects")
.container
  %section.content-header
    %h1
      SECOORA
      %small
        PH Datasets
  %section.content
    .box.box-primary
      .box-header
        .box-tools
          = link_to fa_icon("plus") + " New Dataset", [:new, :admin, :secoora_dataset], 
              class: "btn btn-sm rounded-s btn-box-tool"
          = link_to fa_icon("refresh") + " Process Dataset", 
            process_data_admin_secoora_datasets_path, 
            class: "btn btn-sm rounded-s btn-box-tool"
      .box-body.table-responsive
        - if @secoora_datasets.count > 0
          %table.table.table-bordered.table-striped
            %thead
              %tr
                %th{class: "text-center"}
                  = fa_icon("gear")
                %th.center
                  Dataset Name
                %th 
                  Processed
                %th
                  Cleaned
              %tbody
                - @secoora_datasets.each do |dataset|
                  %tr
                    %td{align: "center"}
                      = link_to "#{fa_icon("pencil-square-o")}".html_safe, 
                                edit_admin_secoora_dataset_url(dataset), type: "button",  
                                class: "btn btn-default", 
                                "data-toggle": "modal",
                                "data-target": "",
                                title: "Edit"
                      = link_to "#{fa_icon("trash")}".html_safe,
                        admin_secoora_dataset_path(dataset), method: :delete,
                        data: { confirm: "Are you sure you want to delete this dataset? "},
                        class: "btn btn-danger", title: "Delete" 
                    %td
                      = dataset.dataset_url.truncate(50)
                    %td
                      = dataset.processed ? "Yes" : "No"
                    %td
                      = dataset.cleaned ? "Yes" : "No"
                      