- title "New Secoora Dataset"
.container
  %section
    .content
      %h2
        Secoora
        %small
          Add A New Dataset
      .box
        .box-header.with-border
          %h3.box-title
            Dataset Details
        .box-body
          .row
            = render "form"