.col-md-6.col-sm-3.col-xs-12
  %h3.x_title
    Physical Data
    .clearfix
  .panel-body
    - # Speficies the id of the physical data category
    - # Don't change unless id is different in database
    - # ID can be found on the categories table - so look it up!!
    = frm.hidden_field :category_id, value: 3
    .form-group
      - # Organism name goes here
      = frm.label :physical_id, "* Attribute Name"
      = frm.collection_select :physical_id, Physical.all, :id, :name, 
         {prompt: "Select an attribute"}, 
         {class: "form-control", id: 'data_name'}
    .form-group
      = frm.label :unit, "* Unit"
      = frm.select(:unit, ["Celsius", "meters", "centimeters", "hectares", 
        "meters per second", "NTUs", "TSS"], { include_blank: "Select a unit"}, 
        { class: "form-control"})
    .form-group
      = frm.input :value, :required => true, error: false,
        input_html: { class: 'form-control', id: 'data_value'}
    .form-group
      = frm.label :unit, "Date Collected"
      %br
      %div
        %span#style-date-select
          = frm.date_select :created_at, input_html: { style: 'color:black'}
.col-md-6.col-sm-3.col-xs-12
  %h3.x_title
    Collection Technique
    .clearfix
  .panel-body
    .form-group.has-feedback  
      = frm.input :instrument, required: true, autofocus: true, error: false,
        input_html: { class: 'form-control', id: 'col_instrument'}
    .form-group
      = frm.input :technique, :required => true, error: false,
        input_html: { class: 'form-control', id: 'col_technique'}
    .form-group
      = frm.input :calibration, :required => true, error: false,
        collection: ["Yes", "No"],  prompt: "Select calibration",
        input_html: { class: 'form-control', id: 'col_calibration'}
    .form-group
      = frm.label :info, "Additional info"
      = frm.input_field :info, as: :text, :required => true, error: false,
        placeholder: "Additional information ...", rows: "6", 
        :class => "form-control", :id => "col_info"