%hr
.row.top15
  .col-md-4
    .box-contributors
      .contributors
        .box-contributor.clear-fix
          = gravatar_for user,
          "img-responsive img-circle img-sm"
          .contributor-text
            %span.username
              = link_to "#{user.username}", user_profiles_path(user), 
                class: "name"
  .col-md-4.pull-right
    - unless @contributable.contributors.exists?(user_id: user.id)
      = link_to "#{fa_icon("plus")}".html_safe, 
        {controller: "contributors", action: "create", user: user },
        method: :post, class: "btn btn-primary btn-xs", title: "add user"
    