.row
  .col-md-6
    = render contributor
  .col-md-6
    .pull-right
      = link_to "#{fa_icon("trash")}".html_safe, 
        project_contributor_path(id: contributor.id), 
        method: :delete,
        data: { confirm: "Are you sure you remove from contributors? "}, 
        class: "btn btn-danger btn-xs", title: "add user"
    