= simple_form_for(:users, remote: true, :url => {:action => "index"},
method: :get, html: {id: "search-form", name: "user"}) do |f|
  = label_tag :email, nil, class: "sr-only"
  = text_field_tag :email, params[:email], placeholder: "email@example.com",
    class: "form-control", required: true,
    "data-toggle": "tooltip", type: "email",
    title: "Please enter a single email! In addition, the contributor must already have a SPLASSH account."