.col-md-6.col-sm-3.col-xs-12
  %h3.x_title
    Chemical Data
    .clearfix
  .panel-body
    - # Speficies the id of the chemical data category
    - # Don't change unless id is different in database
    = frm.hidden_field :category_id, value: 1 
    .form-group
      = frm.label :chemical_id, "* Name"
      = frm.collection_select :chemical_id, Chemical.all, :id, :name, 
         {prompt: "Select a chemical"}, 
         {class: "form-control", id: 'data_name'}
    .form-group
      = frm.label :unit, "* Unit"
      = frm.select(:unit, ["pH",  "% saturation", "ppt", "mS/cm", "µS/cm", 
        "mg/L", "µg/L", "ppb or ppm"], { include_blank: "Select a unit"},
        { class: "form-control"})
    .form-group
      = frm.input :value, :required => true, error: false,
        input_html: { class: 'form-control', id: 'data_value'}
    .form-group
      = frm.label :unit, "Date Collected"
      %br
      %div
        %span#style-date-select
          = frm.date_select :created_at, input_html: { style: 'color:black'}
.col-md-6.col-sm-3.col-xs-12
  %h3.x_title
    Collection Technique
    .clearfix
  .panel-body
    .form-group.has-feedback  
      = frm.input :instrument, required: true, autofocus: true, error: false,
        input_html: { class: 'form-control', id: 'col_instrument'}
    .form-group
      = frm.input :technique, :required => true, error: false,
        input_html: { class: 'form-control', id: 'col_technique'}
    .form-group
      = frm.input :calibration, :required => true, error: false,
        collection: ["Yes", "No"],  prompt: "Select calibration",
        input_html: { class: 'form-control', id: 'col_calibration'}
    .form-group
      = frm.label :info, "Additional info"
      = frm.input_field :info, as: :text, :required => true, error: false,
        placeholder: "Additional information ...", rows: "6", 
        :class => "form-control", :id => "col_info"