.modal.fade.modal-danger#dataModal-chemical{tabindex: 1, role: "dialog", 
                  "aria-labelledby": "exampleModalLabel", "aria-hidden": "true"}
  = render "scientific_data/shared/forms/modal", 
    project: project, scientific_datum: scientific_datum, form_name: "Chemical",
    fields_path: "chem/fields"