= simple_form_for([:admin, body_of_water]) do |f|
  .form-group
    = f.input :name, placeholder: "Name of Body of Water",
      input_html: { class: "form-control", id: "Name" }
  .form-group
    = f.submit class: 'btn btn-primary btn-flat'