-title("Bodies of Water - Admin")
.container
  %section.content
    .title-block
      .row
        .col-md-12
          %h2.title
            Body of Water
            %small
              A list of all bodies available to users
    .box
      .box-header
        .box-title
          = page_entries_info @bows, entry_name: 'body of water'
        .box-tools.pull-right
          = link_to fa_icon("plus") + " New Body of Water", 
            new_admin_body_of_water_path, 
            class: "btn btn-sm rounded-s btn-box-tool"
      .box-body
        .row
          .col-md-6
            %table.table.table-striped
              %tr
                %th
                  Body of Water Name
                %th
                  Actions
              - @bows.each do |bow|
                %tr
                  %td
                    = bow.name
                  %td
                    = link_to "#{fa_icon("edit")} Edit".html_safe, 
                      [:edit, :admin, bow], type: "button",  
                      class: "btn btn-default btn-xs"
                    = link_to "#{fa_icon("trash")} Delete".html_safe, 
                      [:admin, bow], 
                      title: 'Delete', class: "btn btn-default btn-xs", 
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete this Tag?"} 