- title "New Body of Water - Admin"
.container
  %section
    .content
      %h2
        Body of Water
        %small
          Add A New Water Body
      .box
        .box-header.with-border
          .box-title
            Body of Water Details
        .box-body
          .row
            .col-md-6
              = render "form", body_of_water: @bow