- title ("Admin")
.container
  %section.content-header
    %h1
      Admin Area
      %small
        "With great power comes great responsibility."
  %section.content
    .row
      = render "admin/application/shared/stats", project_count: @project_count,
                                                 user_count:    @user_count,
                                         comment_count: @comment_count
    .box.box-solid
      .box-body
        .row#admin
          .col-md-6
            .box
              .box-header.with-border
                %h3.box-title
                  Latest Users
                .box-tools.pull-right
                  %span.label.label-default
                    = @latest_users.count 
                    New Users
              .box-body.no-padding
                %ul.users-list.clearfix
                  - @latest_users.each do |user| 
                    %li 
                      = gravatar_for user, "user-image" 
                      - # User profile
                      - if has_profile(user)
                        = link_to "#{user.profile.firstname} #{user.profile.lastname }",
                          user_profiles_path(user), class: "user-list-name"
                      - else 
                        %br
                        = link_to remove_mail_address(user.email),
                        user_profiles_path(user), class: "user-list-name"
                      %span.users-list-date
                        Joined: 
                        = time_ago_in_words(user.created_at)
                        ago
              .box-footer.text-center
                = link_to "View All Users", admin_users_path, class: "uppercase"
          .col-md-6
            .box
              .box-header.with-border
                %h3.box-title
                  Admin Links
              .box-body.no-padding
                %table.table.table-striped
                  %tr
                    %th
                      Links
                    %th
                      Description
                  %tr
                    %td
                      = link_to "Users", admin_users_path
                    %td
                      %p
                        Tools to manage users
                  %tr
                    %td 
                      = link_to "States", admin_states_path
                    %td
                      Tools to manage tracker item's states
                  %tr
                    %td 
                      = link_to "Projects", admin_projects_path
                    %td
                      To delete a project, go to the specific project and delete it
                  %tr
                    %td
                      = link_to "Teams", admin_teams_path
                    %td
                      %p
                        Tool to manage SPLASSH team
                  %tr
                    %td
                      = link_to "Body of Water", admin_body_of_waters_path
                    %td
                      %p
                        Tool to manage projects Body of Water
                  %tr
                    %td
                      = link_to "Tags", admin_tags_path
                    %td
                      %p
                        Tool to manage projects Tags
                    
                      