= simple_form_for([:admin, tag]) do |f|
  .form-group
    = f.input :name, placeholder: "Name of Tag",
      input_html: { class: "form-control", id: "Name" }
  .form-group
    = f.input :description, placeholder: "Description of Tag",
      input_html: { class: "form-control", id: "Description" }
  .form-group
    = f.input :color, placeholder: "HTML color code or color name",
      input_html: { class: "form-control", id: "Color" }
    (This has to be a HTML color code!)
  .form-group
    = f.submit class: 'btn btn-primary btn-flat'