- title "Edit Tag - Admin"
.container
  %section
    .content
      %h2
        = @tag.name
        %small
          Edit Tag
      .box
        .box-header.with-border
          .box-title
            Tag Details
        .box-body
          .row
            .col-md-6
              = render "form", tag: @tag