-title("Tags - Admin")
.container
  %section.content
    .title-block
      .row
        .col-md-12
          %h2.title
            Tags
            %small
              A list of all tags available to users
    .box
      .box-header
        .box-title
          = page_entries_info @tags, entry_name: 'tag'
        .box-tools.pull-right
          = link_to fa_icon("plus") + " New Tag", new_admin_tag_path, 
              class: "btn btn-sm rounded-s btn-box-tool"
      .box-body
        .row
          .col-md-6
            %table.table.table-striped
              %tr
                %th
                  Tag
                %th
                  Actions
              - @tags.each do |tag|
                %tr
                  %td
                    = render 'tags/tag', tag: tag
                  %td
                    = link_to "#{fa_icon("edit")} Edit".html_safe, 
                      [:edit, :admin, tag], type: "button",  
                      class: "btn btn-default btn-xs"
                    = link_to "#{fa_icon("trash")} Delete".html_safe, 
                      [:admin, tag], 
                      title: 'Delete', class: "btn btn-default btn-xs", 
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete this Tag?"} 