- title "New Tag - Admin"
.container
  %section
    .content
      %h2
        Tag
        %small
          Add A New Tag
      .box
        .box-header.with-border
          .box-title
            Tag Details
        .box-body
          .row
            .col-md-6
              = render "form", tag: @tag