-title("Projects - Admin")
.container
  %section.content
    .title-block
      .row
        .col-md-12
          %h2.title
            Projects
            %small
              A list of all site projects
    .box
      .box-header
        .box-title
          = page_entries_info @projects, entry_name: 'project'
        .box-tools.pull-right
          = link_to fa_icon("plus") + " New Project", new_project_path, 
              class: "btn btn-sm rounded-s btn-box-tool"
      .box-body
        .row
          .col-md-12
            %table.table.table-bordered.table-striped
              %thead
                %tr
                  %th
                    Project ID
                  %th
                    Project Name
                  %th
                    Project Owner
                  %th 
                    Date Created
                  %th
                    Updated At
                  %th
                    Tag
                  %th 
                    Action
              %tbody
                - @projects.each do |project|
                  %tr
                    %td 
                      -if project.id.present?
                        = project.id
                    %td
                      = link_to project.name, project, class: "project-link"
                    %td
                      - if project.author.profile.present?
                        = link_to user_name(project.author), user_profiles_path(project.author)
                      - else 
                        = link_to remove_mail_address(project.author.email), user_profiles_path(project.author)
                      // = link_to project.author.username, user_profiles_path(project.author)
                    %td 
                      = project.created_at.try(:strftime, "%F")
                    %td
                      = project.updated_at.try(:strftime, "%F")
                    %td 
                      -if project.tag.present?
                        = project.tag.name
                    %td
                      = link_to "#{fa_icon("eye")} View".html_safe,
                        [:admin, project], class: "btn btn-default btn-xs"
                      = link_to "#{fa_icon("edit")} Edit".html_safe, 
                                [:edit, :admin, project], type: "button",  
                                class: "btn btn-default btn-xs", 
                                "data-toggle": "modal",
                                "data-target": ""
                      %span{"data-toggle": "tooltip", 
                        "title": "Be careful! There is no tool to unarchive projects."}
                        = link_to "#{fa_icon("archive")} Archive".html_safe,
                          [:archive, :admin, project], method: :patch,
                          data: { confirm: "Are you sure you want to archive this project? "},
                          class: "btn btn-default btn-xs" 
                      = link_to "#{fa_icon("trash")} Delete".html_safe,
                          [:destroy, :admin, project], method: :delete,
                          data: { confirm: "Are you sure you want to delete this project? "},
                          class: "btn btn-default btn-xs" 
      .box-footer.clear-fix
        = paginate @projects