= simple_form_for [obj, obj.comments.new],
  remote: true do |f|
  .input-group
    = f.text_field :content, 
      class: "form-control comment_content",
      id: "comment_content_#{obj.id}",
      type: "text", placeholder: "Enter a comment..."
    %span.input-group-btn
      = f.button :submit, "Submit".html_safe, 
        class: "btn btn-primary btn-flat", id: "comment_submit_#{obj.id}"
    