= simple_form_for [comment, Comment.new],
  remote: true do |f|
  .input-group.input-group-sm
    = f.text_field :content, 
      class: "form-control input-sm comment_content",
      type: "text", placeholder: "Enter a comment...", 
      id: "comment_content_#{comment.id}"
    %span.input-group-btn
      = f.button :submit, "Reply".html_safe, 
        class: "btn btn-primary btn-flat", id: "comment_submit_#{comment.id}"