- title ("About")
.container
  .content
    %h1 About Splassh
    .box
      .box-body
        %h4
          What is SPLASSH? 
        %p
          SPLASSH (http://splassh.org) is a socially driven network that crowdsources the 
          condition of our waterways. The mission of SPLASSH is to inspire water conservation 
          through awareness by engaging students, citizen scientists, and professionals to share, 
          discuss, connect, and visually consume information about water.
        %h4
          How does SPLASSH inspire water conservation? 
        %p
          Currently a vast amount of information collected by students, citizen scientists, 
          and professionals about their watershed is not shared with the water community. 
          SPLASSH’s goal is to serve as a platform where students, citizen scientists, and 
          professionals can post their water projects, gain recognition for their contributions, 
          and connect with other water investigators. The SPLASSH site is designed specifically 
          with this goal in mind and can be used to capture valuable aquatic information, 
          facilitate dialogue about water, and help us to better understand the state of our 
          local, national, and even international waterways. After all, we are all connected to 
          water, and all bodies of water are connected.
        %h4
          How is SPLASSH different than other sites? 
        %p
          SPLASSH is a framework that collects information about water in real-time, encourages 
          dialogue between interested parties, and most importantly, it fosters the building of 
          communities based upon an interest in water. SPLASSH doesn’t require any training or 
          commitment and accepts all posts about water from anyone who has an interest in, observation 
          of, or concern about water. For more information, please see the SPLASSH paper 
          (Adams et al., 2013) in: Oceans 2013, MTS/IEEE San Diego – An Ocean in Common. 
          Marine Technology Society/IEEE, pages 1-9.
        %h4
          How do you access SPLASSH? 
        %p
          It’s simple! Log onto http://splassh.org. Our home page is where the dialogue about 
          water begins. In the SPLASSH text box, enter your water project and choose from one of 
          the categories we provide to help you appropriately tag your comment. 
          Hit submit and see your post appear on the map. Just comment, tag, and submit, 
          and you’ll be a part of the SPLASSH community! In essence, SPLASSH’s first phase is an 
          education and outreach tool about water for anyone that wants to share water projects 
          or learn more about the most important resource we have: water.
        %p  
          There are many exciting things on the horizon for SPLASSH, and we welcome users to 
          pilot these new additions. We have partnered with Georgia Tech’s Computing for Good 
          Computer Science Team (class of 2014 & 2015) and will soon be releasing a biological, 
          chemical, and physical data upload feature that will also collect information about the 
          contributor and data collection technique. Metadata will be archived that will allow 
          interested parties to search and filter data. In addition to the data tool, 
          SPLASSH plans to release new media and notification tools in January 2016. 
          Stay tuned, because SPLASSH may just change the way we think, talk, and learn about water.
        %h4
          Where is SPLASSH headquartered? 
        %p
          SPLASSH is housed at Kennesaw State University (Georgia) under the direction of 
          Lisa G. Adams, Ph.D., Associate Professor of Biology & Biology Education (ladams@kennesaw.edu).
        %h4
          Who sits on the SPLASSH Advisory Board?
        %ul
          %li
            Ilkay Altinas, Ph.D., Deputy Director for the Scientific Workflow Automation, San Diego Super Computer, University of California, San Diego, CA
          %li
            Elizabeth R. Igleheart, M.B.A., Development Consultant, Columbia, SC
          %li
            Paul D. Lapides, M.B.A., Recently Retired & Past Director for the Corporate Governance Center, Coles College of Business, Kennesaw State University, GA
          %li
            Kate Larkin, Partner, Larkin/Volpatt Communications, NY
          %li
            Douglas Levin, Ph.D., Deputy Director Center for Environment & Society, Washington College, MD
          %li
            Michael Lindemuth, M.S., Senior Software Engineer, Stratus Video, Clearwater, FL
          %li
            Dwayne Porter, Ph.D., Professor, Department of Environmental Health Sciences Arnold School of Public Health and the Director of the Baruch Institute for Marine and Coastal Sciences, University of South Carolina, SC
          %li
            Ari Daniel Shapiro, Ph.D., Independent Reporter and Producer of Science Media, Boston, MA
        %h4
          Who supports SPLASSH?
        %ul
          %li
            Kennesaw State University College of Science and Mathematics Shark Tank Award 2015 & OVPR 2012 Award
          %li
            SECOORA (Southeast Coastal Ocean Observing Regional Association) Student Stipend MiniGrant Award 2015
          %li
            YSI Inc. 2014 & 2015