- title ("Home")
%section.banner-sec
  .container
    .row
      .col-md-6
        = render "pages/partials/home_header_intro"
        .row
          = render "pages/partials/features"
      .col-md-6
        = render "pages/partials/featured_carousel", 
          featured: @carousel_featured_projects
    .row
      .col-md-12
        .row
          = render "pages/partials/featured_list", 
            featured: @featured_projects
    %br 
    .div
      %center
        = link_to 'Explore More Projects!'.html_safe, explore_index_path, class: "btn btn-success btn-lg"

