- title("Team")
.container
  %section.content-header
    %h1
      Sponsors
      %small
        Our Proud Sponsors
  %section.content
    .row
      .col-md-12
        .box.box-solid
          .box-body