.box.box-solid.box-primary
  .box-header.with-border
    %h3.box-title
      = link_to project.name, project, class: "project-link"
    .box-tools.pull-right
      - if project.tag.present?
        = render project.tag
      %button{type: "button", class: "btn btn-box-tool white", "data-widget": "collapse"}
        = fa_icon("minus")
  .box-body
    %article.search-result.row
    .row
      .col-xs-12.col-sm-12.col-md-4
        - if project.cover_photo.present?
          = image_tag project.cover_photo.large.url, class: "project-image-search", :size => "300x170"
        -else
          = image_tag "oceanimage.jpg" , class: "project-image-search", :size => "300x170"

      .col-xs-12.col-sm-12.col-md-8.excerpet
        -if project.description.length > 200
          %p
            = truncate(project.description, length: 200)             
            = link_to "Read More", project, class: "project-link"
        -else
          %p
            = project.description
    .row
      .col-md-4
      .col-xs-12.col-sm-12.col-md-4
        = fa_icon("user")
        %span
          - if project.author.profile.present?
            = link_to user_name(project.author), user_profiles_path(project.author)
          - else 
            = link_to remove_mail_address(project.author.email), user_profiles_path(project.author)

          // = link_to project.author.username, user_profiles_path(project.author)
      .col-xs-12.col-sm-12.col-md-4
        = fa_icon("calendar")
        %span
          = local_time(project.created_at, format: '%B %e, %Y',)
