- title "Edit - #{@project.name}" 
.container
  %section
    .content
      %h2
        Edit
        %small
          = @project.name
      .box.box-primary
        .box-header.with-border
          %h3.box-title
            Project Details
        .box-body
          .row
            = render "projects/shared/form", project: @project