- title("Projects")
.container
  %section.content-header
    %h1
      My Projects
      %small
        View stats on all your water projects 
  %section.content
    .box.box-primary
      .box-header.with-border
        .box-title
          = page_entries_info @projects, entry_name: 'project'
        .pull-right
          = link_to fa_icon("plus") + " New Project", new_project_path, 
              class: "btn-success btn-sm"          
        // .box-tools
        //   = link_to fa_icon("plus") + " New Project", new_project_path, 
        //       class: "btn btn-sm rounded-s btn-box-tool"
      .box-body.table-responsive
        - if @projects.count > 0
          %table.table.table-bordered.table-striped
            %thead
              %tr
                %th.center
                  %center
                    Project Name
                %th.center
                  %center
                    Date Created
                %th.center
                  %center
                    Last Modified
                %th.center
                  %center
                    Favorites
                %th
                  %center
                    Impressions
                %th.center
                  %center
                    Collaborators
                %th{class: "text-center"}
                  Actions
              %tbody
                - @projects.each do |project|
                  %tr
                    %td
                      %center
                        = link_to project do
                          = project.name
                          %br
                        %small
                    %td
                      %center
                        = project.created_at.strftime('%B %C, %Y')
                    %td
                      %center
                        = project.updated_at.strftime('%B %C, %Y')
                    %td
                      %center
                        = project.favorites.count
                    %td
                      %center
                        = project.impressions_count
                    %td
                      %center
                        = project.contributors.count                        
                      // %ul.list-group
                      //   - project.contributors.each do |contributor|
                      //     %li.list-group-item  
                      //       = render contributor
                    %td{align: "center"}
                      = link_to "#{fa_icon("eye")} View".html_safe,
                          project, class: "btn btn-default btn-xs",
                          title: "View"
                      = link_to "#{fa_icon("pencil-square-o")} Edit".html_safe, 
                                edit_project_url(project), type: "button",  
                                class: "btn btn-default btn-xs", 
                                "data-toggle": "modal",
                                "data-target": "",
                                title: "Edit"
                      = link_to "#{fa_icon("users")} Collaborators".html_safe,
                        project_contributors_path(project),
                        class: "btn btn-default btn-xs"
                      = link_to "#{fa_icon("trash")} Delete".html_safe,
                        project_path(project), method: :delete,
                        data: { confirm: "Are you sure you want to delete this project? "},
                        class: "btn btn-danger btn-xs", title: "Delete" 
        - else 
          %h4
            You currently no projects. Feel free to create one.
      .box-footer.clearfix
        = paginate @projects      