- title "New Project"
.container
  %section
    .content
      %h2
        Project
        %small
          Add A New Water Project
      .box
        .box-header.with-border
          %h3.box-title
            Project Details
        .box-body
          .row
            = render "projects/shared/form", project: @project