- title("#{@project.name} - Project ")
.container.pages.project
  .content
    .title-block
      .row
        .col-md-12
          %h1.title
            %small
              = @project.name
              .pull-right
                - if user_signed_in?
                  = link_to "#{fa_icon("map-pin")} Add Site".html_safe, 
                    new_project_site_url(@project), type: "button",  
                    class: "btn btn-success", "data-toggle": "modal",
                          "data-target": "", title: "Edit"
                - if user_signed_in? and @project.author.id == current_user.id
                  = link_to "#{fa_icon("pencil-square-o")} Edit".html_safe, 
                    edit_project_url(@project), type: "button",  
                    class: "btn btn-info", "data-toggle": "modal",
                          "data-target": "", title: "Edit"
                - elsif user_signed_in? and @project.author.profile.present?
                  - if @project.author.profile.user_id == current_user.id
                    = link_to "#{fa_icon("pencil-square-o")} Edit".html_safe, 
                      edit_project_url(@project), type: "button",  
                      class: "btn btn-info", "data-toggle": "modal",
                            "data-target": "", title: "Edit"
                = render "projects/partials/favorite", project: @project
                - if user_signed_in? and @project.contributors.exists?(user_id: current_user.id)
                  %span.badge.tag.bg-red#contributor{"data-id": @project.id}
                    You're a contributor
                - admins_only do
                  = link_to "#{fa_icon("trash")} Delete".html_safe,
                    project_path(@project), method: :delete,
                    data: { confirm: "Are you sure you want to delete this project? "},
                    class: "btn btn-danger", title: "Delete"
              - if @project.tag.present? 
                = render @project.tag
      .row
        .col-md-12
          .nav-tabs-custom
            %ul.nav.nav-tabs
              %li.active
                %a{href: "#activity", "data-toggle" => "tab"}
                  Project Details
              %li 
                %a{href: "#timeline", "data-toggle" => "tab"}
                  Timeline
              %li 
                %a{:href => "#data", "data-toggle" => "tab"}
                  Data 
              - if not @project.trackers.empty?
                %li 
                  %a{:href => "#trackers", "data-toggle" => "tab"}
                    Tracker(s)
              - if project_owner?(@project)
                %li
                  %a{:href => "#contributors", "data-toggle" => "tab"}
                    Contributors
                  // = link_to "Contributors", project_contributors_path(@project)
              - if not @project.site.empty?
                %li 
                  %a{:href => "#sites", "data-toggle" => "tab"}
                    Site(s)
          .tab-content
            .active.tab-pane#activity
              .row
                .col-md-5
                  = render 'projects/partials/project_info', project: @project
                .col-md-7
                  .box.box-solid
                    .box-header.with-border
                      %h3.box-title
                        Location
                    .box-body
                      #map{:style => "width: 100%; height: 400px;"}
                      :javascript
                        $(document).ready(function(){
                          // pass ruby variable to javascript
                          var project = #{@project.to_json.html_safe}
                          // init show map for project  
                          gmap_show(project);    
                        });
                .col-md-5
                .col-md-7
                  = render 'projects/partials/discussions', 
                    project: @project
            .tab-pane#timeline
              = render 'projects/partials/timeline', project: @project
            .tab-pane#trackers
              .row
                - @project.trackers.each do |tracker|
                  .col-md-6
                    .box.box-default
                      .box-header
                        %h3.box-title
                          Tracker Name:
                          = link_to tracker.name, tracker
                          
                      .box-body
                        = render tracker.items, mapped: false
            .tab-pane#data
              = render "projects/partials/field_info", project: @project
              = render "projects/partials/data", project: @project, 
                categories: @categories
              = render "projects/partials/terestrial_data", project: @project
            .tab-pane#sites
              .row
                - @project.site.each do |site|
                  .col-md-6
                    .box.box-default
                      .box-header
                        %h3.box-title
                          Site Name:
                          = link_to site.name, project_site_url(@project.id , site.id)
                      .box-body
                        %b
                          Site Description:
                        %p
                          = site.description

  = # Creating data forms 
  = render "scientific_data/shared/forms/bio/form", 
    project: @project, scientific_datum: @scientific_datum
  = render "scientific_data/shared/forms/chem/form", 
    project: @project, scientific_datum: @scientific_datum
  = render "scientific_data/shared/forms/physc/form", 
    project: @project, scientific_datum: @scientific_datum
  = render "scientific_data/shared/forms/terestrial/form", 
    project: @project, scientific_datum: @scientific_datum
    
