%div.owl-carousel
  - featured.each do |project|
    .card.slider-cards
      - if project.cover_photo.present?
        = image_tag project.cover_photo.small.url, class: "img-fluid", :size => "300x170"
      -else
        = image_tag "oceanimage.jpg" , class: "img-fluid", :size => "300x170"
      .card-block.card-size
        - if project.tag.present?
          = render project.tag
        - else
          = "No tag"
        .featured-title
          %h2.title-small
            = link_to truncate(project.name, length: 33), project
        %p.card-text
          %small
            = fa_icon("user")
            - if project.author.profile.present?
              = link_to " #{user_name(project.author)}".html_safe, user_profiles_path(project.author)
            - else 
              = link_to " #{remove_mail_address(project.author.email)}".html_safe, user_profiles_path(project.author)

          %small.text-time.pull-right
            %em
              = time_ago_in_words(project.created_at)
              ago