.row  
  .col-md-2
  .col-md-8
    %h1
      = link_to "Make a SPLASSH!", "#", remote: true
  .col-md-2
%h2.lead
  SPLASSH is a crowdsourcing platform about water.
%h2.lead
  Start your own project, or join others in sharing data
  about our most precious resource; Water.
.row  
  .col-md-4
  .col-md-6
    = link_to "Get Started!", new_user_registration_path,
      class: "btn btn-success btn-lg"
