.col-md-3.col-sm-6.col-xs-12
  .info-box
    %span.info-box-icon.bg-black
      = fa_icon("users")
    .info-box-content
      %span.info-box-text
        Users
      %span.info-box-number
        = user_count
.col-md-3.col-sm-6.col-xs-12
  .info-box
    %span.info-box-icon.bg-aqua
      = fa_icon("folder-open")
    .info-box-content
      %span.info-box-text
        Projects
      %span.info-box-number
        = project_count
.col-md-3.col-sm-6.col-xs-12
  .info-box
    %span.info-box-icon.bg-blue
      = fa_icon("comments")
    .info-box-content
      %span.info-box-text
        Discussion Threads
      %span.info-box-number
        = comment_count
.col-md-3.col-sm-6.col-xs-12
  .info-box
    %span.info-box-icon.bg-yellow
      = fa_icon("map-marker")
    .info-box-content
      %span.info-box-text
        Debris Items
      %span.info-box-number
        = @debris_items_count