%hgroup.mb20
  - if params[:name].present?
    %h2.lead
      %strong.text-danger
        = pluralize(projects.count, "project")
      found for the search term
      %strong.text-danger
        = "\'#{params[:name]}'"