%hgroup.mb20
  - if params[:name].present?
    %h2.lead
      %strong.text-danger
        = pluralize(trackers.count, "tracker")
      found for the search term
      %strong.text-danger
        = "\'#{params[:name]}'"