= render 'layouts/map_api_link'
= simple_form_for([tracker, item]) do |f|
  = render 'shared/error_messages', object: f.object
  .col-md-6
    .form-group
      = f.input :name, required: true, autofocus: true, title: "Item name",
        placeholder: "Item name", label: "Item name", error: false,
        input_html: { class: 'form-control' }
    .form-group
      = f.input :description, required: false, autofocus: true, 
        title: "Item description", placeholder: "Item description...", 
        label: "Item description", error: false,  as: :text,
        input_html: { class: 'form-control' }
    .form-group
      = f.simple_fields_for :attachments do |ff|
        = ff.input :file, as: :file, label: "File ##{ff.index + 1}"
        = ff.input :file_cache, as: :hidden
  .col-md-6
    .form-group
      %input{ placeholder: 'Search for a location...', id: 'loc-input', 
             class: 'controls' }
    .form-group
      .row
        .col-xs-6
          = f.input :lat, error: false, label: "Latitude",
            input_html: { id: 'item_lat', title: 'lat', class: 'form-control'}
        .col-xs-6
          = f.input :lng, error: false, label: "Longitude",
            input_html: { id: 'item_lng', title: 'lng', class: 'form-control'}
      #map{:style => "width: 100%; height: 350px;", class: 'form-control'}
    .form-group
      = f.button :submit, 
        class: "btn btn-primary btn-flat pull-right"
