- title("Projects By Tags ")
.container
  %section.content-header
    %h1
      = @tag.name
      %small
        projects 
  %section.content
    .box.box-primary
      .box-header.with-border
        .box-title
          = page_entries_info @projects, entry_name: 'project'
      .box-body
        .row
          .col-md-8
            = render @projects
      .box-footer
        = paginate @projects