.col-md-3{id: "field_note_#{field_note.id}"}
  .box.box-default.box-solid
    .box-header
      = link_to field_note.user.username, user_profiles_path(field_note.user)
    .box-body
      = field_note.try(:note)
    .box-footer
      = time_ago_in_words(field_note.try(:created_at))
      ago
      .pull-right
        - if field_note.user == current_user
          = link_to "#{fa_icon("trash")}".html_safe,
            [@project, field_note], method: :delete, remote: true,
            data: { confirm: "Are you sure you want to delete this note? "},
            class: "btn btn-danger", title: "Delete" 