= simple_form_for [@project, @project.field_notes.new], remote: true do |f|
  .input-group
    = f.text_field :note, 
      class: "form-control",
      input_html: { id: "note_content"},
      type: "text", placeholder: "Enter a field note..."
    %span.input-group-btn
      = f.button :submit, "Submit".html_safe, 
        class: "btn btn-default btn-flat", id: "note_submit_#{@project.id}"
    