- title("Sign in")
.container
  .login-box
    .login-logo
      %b 
        SPLASSH 
      Account
    .login-box-body
      .login-box-msg
        %p 
          Sign in to start your session
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group.has-feedback
          = f.input_field :email, required: true, autofocus: true, error: false,
            placeholder: "Email address", class: "form-control", label: true,
            id: "Email"
          %span.glyphicon.glyphicon-envelope.form-control-feedback
        .form-group.has-feedback
          = f.input_field :password, required: true, error: false,
            placeholder: "Password", class: "form-control", label: true,
            id: "Password"
          %span.glyphicon.glyphicon-lock.form-control-feedback
        .row
          .col-xs-12
            - f.input :remember_me, value: "0"
        .row
          .col-xs-12
            = f.button :submit, "Sign in", 
              class: "btn btn-primary btn-block btn-flat"
      %p
        = render 'devise/shared/links'
      
      
  
