= link_to user_name(activity.user), user_profiles_path(activity.user)
added the item
= link_to activity.trackable.name, [activity.trackable.tracker, activity.trackable]
to
= link_to activity.trackable.tracker.name, activity.trackable.tracker
