.modal-dialog{role: "document"}
  .modal-content
    .modal-header
      %h3.modal-title
        = "Update #{ form_name } Data Point"
        %button.close{type: "button", "data-dismiss": "modal", "aria-label": "Close"}
          %span{"aria-hidden": true}
          &times;
    .modal-body
      %div#form_errors
      = simple_form_for([project, scientific_datum], :method => :put, 
        remote: true) do |f| 
        = render "scientific_data/shared/forms/#{ fields_path }", frm: f
        .modal-footer
          %button.btn.btn-outline.pull-left{role: "button", "data-dismiss": "modal"}
            Close
          = f.button :submit, class: "btn btn-outline submitForm"