- title ("Home")
%section.home-banner-sec
  .container
    // %div.alert.alert-dismissable.alert-info.longer-alert
    //   %div.alert-message
    //     %b Welcome to SPLASSH!
    //     We are currently in a beta period with fairly limited functionality for our users right now, but we are working on rolling out new features very soon! In the meantime, we appreciate your patience and hope that you keep SPLASSHing!
    //   %a.long-alert-close{:href => "#", "data-dismiss" => "alert", "aria-label" => "close", "role" => "alert"} 
    //     &times;
    %div
      %br
      %br
      %h2.welcomeTitle Water Conservation. Reimagined. 
      %h4.subtitle SPLASSH is a socially driven network that crowdsources the condition of our waterways.
      %br
      .col-md-12
        = render "pages/partials/featured_carousel", 
          featured: @carousel_featured_projects
      = render "pages/partials/home_header_intro"
      %br
        .col-md-12
          = render "pages/partials/features"
      %br
      %br
      %br
      %br
      %div.featureList
        %center.h3.sectionSubTitle
          What Makes SPLASSH Stand Out?
        %center.h4.sectionSubTitleSub
          Let's talk about why you should choose SPLASSH.
        %br
        %br        
        %center.feature-info
          .col-sm-4
            =image_tag "people.png", :size => "300x170"
            %h4.sectionTitle
              Anyone is Capable of Making a SPLASSH!
            %p.sectionText
              %h4.sectionText SPLASSH is open to seasoned professionals, citizen scientists, students, and anyone else who wishes to make a difference using water.
  
  
          .col-sm-4
            =image_tag "teamwork.png", :size => "230x170"
            %h4.sectionTitle
              View and Discuss Water Data in Real-Time
            %p.sectionText
              %h4.sectionText Input data and watch as it is immediately uploaded to SPLASSH for all to see, comment, and learn from. 
  
          .col-sm-4
            =image_tag "construction.png", :size => "230x170"
            %h4.sectionTitle
              Experince Updates and Imprivements to the Site
            %p.sectionText
              %h4.sectionText SPLASSH is constantly improving to make tracking and managgin projects easier for all our users.
          %br
          %center
            %h2.welcomeTitle What are you waiting for?
            %br
            = link_to "Get Started!", new_user_registration_path,
              class: "btn btn-success btn-xl "
            %br
            %br
            %br
            %br

 
    // .row
    //   .col-md-6
    //     = render "pages/partials/home_header_intro"    
    
    
    
    
    //   .col-md-6
    //     = render "pages/partials/home_header_intro"
    //     .row
    //       = render "pages/partials/features"
    //   .col-md-6
    //     = render "pages/partials/featured_carousel", 
    //       featured: @carousel_featured_projects
    // .row
    //   .col-md-12
    //     .row
    //       = render "pages/partials/featured_list", 
    //         featured: @featured_projects