- title ("Metrics")
.container
  .content
    %h1 SPLASSH by Numbers
    .box
      .box-body
        .row
          = render "pages/partials/stats", project_count: @project_count,
                                           user_count: @user_count,
                                           comment_count: @comment_count
