- title("Team")
.container
  %section.content-header
    %h1
      SPLASSH
      %small
        Our Amazing Team
  %section.content
    = render 'pages/partials/team_members', members: @members.current,
      title: "Current Contributors"
    = render 'pages/partials/team_members', members: @members.past,
      title: "Past Contributors"
      
                     
    
  