- title ("Testimonials")
.container
  .content
    %h1 What People are Saying
    .box
      .box-body
        %h4
        .row
          %blockquote
            %i
              "Twenty years ago, my husband and I founded the Chattahoochee Riverkeeper out of a great love for the river, which sustains people and wildlife. And engaging children as environmental stewards has been the foundation of my work as chairperson of Captain Planet Foundation. So Dr. Lisa Adams' SPLASSH program is of great interest to me because it combines two areas about which I am passionately concerned. SPLASSH is a great tool for watershed stewardship and provides the opportunity for volunteer groups and classes to create their own citizen science projects or contribute data to scientific research. It is so empowering for kids to do authentic science and to be part of an effort that is larger than themselves. We all can do so much individually, but together we can even achieve more. That’s one of Captain Planet’s slogans: 'Let our powers combine.' "
            %br
            .footer
              %strong
                Laura Turner Seydel,
              Chairperson, Captain Planet Foundation & Co-Founder, Chattahoochee Riverkeeper
        .row
          %blockquote
            %i
              "Leveraging social networks to connect people and their efforts to work on water sustainability projects together is important to shaping our water future. After all, we're all connected by water and downstream from one another. I'm excited that Lisa Adams and SPLASSH are engaging youth on this."
            %br
            .footer
              %strong
                Alexandra Cousteau, 
              Founder and President, Blue Legacy International, Washington, DC
        .row
          %blockquote
            %i
              "Valuable water information is often hidden in nooks and crannies in the web or beyond reach in a file cabinet. SPLASSH provides a simple yet powerful tool that frees up that water information so it can be shared, discussed, and leveraged, empowering us to create a more sustainable water future."
            %br
            .footer
              %strong
                Don McEnhill, 
              Executive Director, Russian Riverkeeper, Healdsburg, CA