.box.box-solid.collapsed-box{:style => "border-top: 3px solid #{item.state.color};",
"data-color": "#{item.state.color}", id: "item_#{item.id}"}
  .box-header.with-border
    %h3.box-title
      = item.name
    .box-tools.pull-right
      %span.badge{:style => "background: #{item.state.color};"}
        = item.state.name
      = link_to "#{fa_icon("info")}".html_safe, [item.tracker, item],
        class: "btn btn-box-tool", type: "button"
      - if mapped
        %button.btn.btn-box-tool{type: "button", onClick: "openInfo(#{item.id});"}
          = fa_icon("map-marker")
      %button.btn.btn-box-tool{type: "button", "data-widget": "collapse"}
        = fa_icon("plus")
  .box-body
    %table#attributes
      %tr 
        %th
          = fa_icon("user")
        %td
          = link_to item.user.username, user_profiles_path(item.user)
      %tr
        %th
          Description
        %td
          = item.description
      %tr 
        %th
          = fa_icon("calendar")
        %td
          = local_time(item.created_at, format: '%B %e, %Y',)
      - if item.statuses.persisted.any?
        %tr 
          %th
            Status
          %td
            = state_transition_for(item.statuses.last)