- title "Edit - #{@item.name}" 
.container
  %section
    .content
      %h2
        Edit
        %small
          = @item.name
      .box.box-primary
        .box-header.with-border
          .box-title
            %h3
              Item Details
        .box-body
          .row
            = render "items/shared/form", tracker: @tracker, item: @item