- title ("New Item")
.container
  %section.content-header
    %h1
      New Item
      %small
        = @tracker.name
  %section.content
    .box
      .box-header.with-border
        .box-title
          Item details
        .box-tools.pull-right
      .box-body
        .row
          = render "items/shared/form", tracker: @tracker, item: @item