- title ("#{@item.name} - #{@tracker.name} - Items")
.container
  %section.content-header
    %h1
      = @item.name
      = link_to fa_icon("arrow-left") + " #{@tracker.name}", @tracker,  
              class: "btn btn-primary btn-sm rounded-s pull-right"
      %small
        = @tracker.name
  %section.content
    .box
      .box-header.with-border
        .box-tools.pull-right
      .box-body
        .row
          .col-md-6
            .box.box-solid#item_info
              .box-header.with-border
                %h3.box-title
                  Information
              .box-body
                %table#attributes
                  %tr
                    %th
                      Added by
                    %td
                      = @item.user.username
                  %tr
                    %th
                      Added
                    %td
                      = time_ago_in_words(@item.created_at)
                      ago
                  %tr
                    %th
                      Description
                    %td
                      = @item.description
                  - if @item.attachments.any?
                    %tr
                      %th
                        Attachments
                      %td
                        .attachments
                          - @item.attachments.each do |attachment|
                            %p  
                              = link_to File.basename(attachment.file.url),
                              attachment.file.url
                              = "(#{number_to_human_size(attachment.file.size)})"
                    - if @item.state.present?
                      %tr
                        %th
                          State
                        %td
                          .states
                            = render @item.state
          .col-md-6
            .box.box-solid
              .box-header.with-border
                %h3.box-title
                  Location
              .box-body
                #map{:style => "width: 100%; height: 150px;"}
                :javascript
                  $(document).ready(function(){
                    // pass ruby variable to javascript
                    var item = #{@item.to_json.html_safe}
                    // init show map for project  
                    gmap_show(null, item);    
                  });
          .col-md-6
          .col-md-6
            = render 'items/partials/statuses', tracker: @tracker, item: @item, 
              status: @status 