= render 'layouts/map_api_link'
= simple_form_for tracker, html: {id: :tracker_form, multipart: true } do |f|
  = render 'shared/error_messages', object: f.object
  .col-md-6
    .form-group
      = f.input :name, required: true, autofocus: true, title: "Tracker name",
        placeholder: "Tracker name", label: "Tracker name", error: false,
        input_html: { class: 'form-control' }
    .form-group
      = f.input :description, required: true, autofocus: true, 
        title: "Tracker description", placeholder: "Tracker description...", 
        label: "Tracker description", error: false,  as: :text, rows: "6",
        input_html: { class: 'form-control' }
    .form-group
      %label
        Associate tracker with a project(optional)
    .form-group
      = f.input :project_id, as: :select, autofocus: true, 
        title: "Education Level", label: false, 
        collection: @projects,
        prompt: "Select a project to associate with tracker",
        input_html: { class: 'form-control' }
    .form-group
      .checkbox
        = f.input :private, label: "Make tracker private?"
        %p
          (This means only you can add items to be tracked.)
  .col-md-6
    .form-group
      %input{ placeholder: 'Search for a location...', id: 'loc-input', 
             class: 'controls' }
    .form-group
      .row
        .col-xs-6
          = f.input :lat, error: false,
            input_html: { id: 'tracker_lat', title: 'lat', class: 'form-control'}
        .col-xs-6
          = f.input :lng, error: false,
            input_html: { id: 'tracker_lng', title: 'lng', class: 'form-control'}
      #map{:style => "width: 100%; height: 350px;", class: 'form-control'}
    .form-group
      = f.button :submit, 
        class: "btn btn-primary btn-flat pull-right"
:javascript
  //Turn off submit on "Enter" key
  $('#tracker_form').on('keyup keypress', function(e) {
    var keyCode = e.keyCode || e.which;
    if (keyCode === 13) { 
      e.preventDefault();
      return false;
    }
  });