- admins_only do
  = link_to "#{fa_icon("refresh")} Update data".html_safe, 
    update_data_ph_datasets_path, method: :get,
    class: "btn btn-sm rounded-s btn-box-tool"
  = link_to "#{fa_icon("paint-brush")} Clean data".html_safe, 
    clean_data_ph_datasets_path, remote: true,
    class: "btn btn-sm rounded-s btn-box-tool"