.box.box-solid
  .box-header
    .row
      .col-md-12
        = page_entries_info(datasets)
    .row
      .col-md-12
        = paginate datasets, remote: true
  .box-body
    #selected_dataset_view
    - datasets.each do |dataset| 
      .box.box-solid.collapsed-box
        .box-header.with-border
          %h3.box-title
            = truncate(dataset.title, length: 30)
          .box-tools.pull-right
            %button.btn.btn-box-tool{type: "button", 
                                  onClick: "openInfoWindow(#{dataset.id});"}
              = fa_icon("map-marker")
            %button.btn.btn-box-tool{type: "button", "data-widget": "collapse"}
              = fa_icon("plus")
        .box-body
          = render dataset
  .box-footer
    = paginate datasets, remote: true
    