.box.box-primary
  .box-header
    %i.status.fa.fa-circle.red#step_five
      Dataset not selected
    #progress
    .box-tools
      = render 'ph_datasets/partials/admin_tools'
  .box-body
    .row
      .col-md-4
        .box.box-solid
          .box-header.with-border
            %h4.box-title
              Data Retriever
          .box-body#step_four
            #header-form
              = render "form"
      .col-md-5#dataset_info
        .box.box-solid
          .box-header.with-border
            %h4.box-title
              Data Info
          .box-body
            #selected_dataset
            #clean_results
      .col-md-3#retrieved_dataset
        .box.box-solid
          .box-header.with-border#step_eight
            %h4.box-title
              Retrieved Dataset
          .box-body
            %section.sidebar.tree
              %ul.sidebar-menu#retrieved-datasets.list-group
    .row
      .col-md-4#available_charts
        .box.box-solid
          .box-header
          .box-body
            = render 'ph_datasets/partials/sidebar'
      .col-md-8#main_chart
        .box.box-solid
          .box-header
            %h3.box-title
              Chart
          .box-body
            #chart-container
    .row
      .col-md-4
      .col-md-8#chart_options
        .box.box-solid
          .box-header
            %h3.box-title
              Chart Options
            .box-body
              %form
                .sr-only{for: "inlineFormInput"}
                  Title
                .input-group
                  %input{type: "text", placeholder: "Enter chart title", id: "chartTitle", class: "form-control"}
                    %span{class: "input-group-btn"}
                      = link_to "Change title", "#", remote: true, id: "changeTitle", class: "btn btn-primary"
  
  .box-footer