- unless @data.nil?
  %table.table.table-striped
    %tr
      %th
        PH 
      - @data.each do |ph|
        - unless ph.nil?
          %tr
            %td
              = ph
- else
  %p
    Data not found. Dataset has been removed