.box.box-primary
  .box-header.with-border
    %h3.box-title
      Dataset Location
  .box-body
    .row
      .col-md-5#dataset_list
        = render 'ph_datasets/partials/dataset_info', datasets: @datasets
      .col-md-7
        #secoora_mapview{:style => "width: 100%; height: 600px;"}
        