.box.box-warning.box-solid
  .box-header.with-border
    %h3.box-title
      = truncate(dataset.title, length: 38)
    .box-tools.pull-right
      %button.btn.btn-box-tool{type: "button", 
                            onClick: "openInfoWindow(#{dataset.id});"}
        = fa_icon("map-marker")
      %button.btn.btn-box-tool{type: "button", "data-widget": "collapse"}
        = fa_icon("plus")
  .box-body
    = render dataset