%section.sidebar.tree
  %ul.sidebar-menu
    %li.header
      Available Data Charts
    %li.treeview
      = link_to "#{fa_icon("line-chart")} Line Chart".html_safe, 
        "#", remote: true, id: "line-chart"
    %li.treeview.menu-open
      %a{href: "#"}
        = fa_icon("bar-chart")
        %span
          Column and Bar Charts
        %span.pull-right-container
          %i.fa.fa-angle-left.pull-right
      %ul.treeview-menu
        %li.treeview
          = link_to "#{fa_icon("circle-o")} Column Chart".html_safe, 
            "#", remote: true, id: "column-chart"
        %li.treeview
          = link_to "#{fa_icon("circle-o")} Bar Chart".html_safe, 
            "#", remote: true, id: "bar-chart"
    %li.treeview
      %a{href: "#"}
        = fa_icon("area-chart")
        %span
          Area Charts
        %span.pull-right-container
          %i.fa.fa-angle-left.pull-right
      %ul.treeview-menu
        %li.treeview
          = link_to "#{fa_icon("circle-o")} Area Chart".html_safe, 
            "#", remote: true, id: "area-chart"
        %li.treeview
          = link_to "#{fa_icon("circle-o")} Area Chart Zoomable".html_safe, 
            "#", remote: true, id: "area-chart-zoomable"
    %li.treeview
      = link_to "#{fa_icon("pie-chart")} Pie Chart".html_safe, 
        "#", remote: true, id: "pie-chart"