.box.box-solid
  .box-header.with-border
    .box-title
      = link_to tracker.name, tracker
    .box-tools.pull-right
      - if user_signed_in?
        = link_to fa_icon("plus-square") + " New Item", new_tracker_item_path(tracker), 
            class: "btn btn-sm rounded-s btn-box-tool"
  .box-body
    - if tracker.items.present?
      = render tracker.items, mapped: false
    - else
      %h4
        This tracker has no items. 
        Feel free to create an item to track.
  .box-footer.clear-fix