- title "Edit - #{@tracker.name}" 
.container
  %section
    .content
      %h2
        Edit
        %small
          = @tracker.name
      .box.box-primary
        .box-header.with-border
          .box-title
            %h3
              Tracker Details
        .box-body
          .row
            = render "trackers/shared/form", tracker: @tracker