- title ("Trackers")
.container
  %section.content-header
    %h1
      Trackers
      %small
        track debris, projects, and more
  %section.content
    .box.box-primary
      .box-header.with-border
        .box-title
          = pluralize(@trackers.count, "tracker")
          available
        .box-tools.pull-right
          = link_to fa_icon("plus") + " New Tracker", new_tracker_path, 
              class: "btn btn-sm rounded-s btn-box-tool"
      .box-body
        .row 
          .col-md-6
            - if @trackers.count > 0
              %table.table.table-bordered.table-striped
                %thead
                  %tr 
                    %th 
                      Tracker Name
                    %th 
                      Actions
                  %tbody
                    - @trackers.each do |tracker|
                      %tr
                        %td
                          = link_to tracker do
                            = tracker.name
                            %br
                          %small
                            = tracker.created_at.strftime('%v')
                        %td
                          = link_to "#{fa_icon("eye")} View".html_safe,
                          tracker, class: "btn btn-default btn-xs"
                          = link_to "#{fa_icon("pencil")} Edit".html_safe, 
                                    edit_tracker_url(tracker), type: "button",  
                                    class: "btn btn-default btn-xs", 
                                    "data-toggle": "modal",
                                    "data-target": ""
                          = link_to "#{fa_icon("trash")} Delete".html_safe,
                            tracker_path(tracker), method: :delete,
                            data: { confirm: "Are you sure you want to delete this tracker? "},
                            class: "btn btn-default btn-xs" 
            - else 
              %h4
                You currently have no trackers. Feel free to create one.