- title ("Manage - #{@tracker.name} - Trackers")
.container
  %section.content-header
    %h1
      Manage My Items
      %small
        = @tracker.name
      = link_to fa_icon("arrow-left") + " #{@tracker.name}", @tracker, 
                      class: "btn btn-primary btn-sm rounded-s pull-right"
  %section.content
    - if (user_signed_in? and not @tracker.private?) or (@tracker.user == current_user and @tracker.private?) 
      .box.box-primary
        .box-header.with-border
          .box-title
            Items manager
          .box-tools.pull-right
        .box-body
          .row 
            .col-md-8
              .box
                .box-header.with-border
                  .box-title
                    - if tracker_owner?(@tracker)
                      = page_entries_info @items, entry_name: 'item'
                  .box-tools.pull-right
                    = link_to fa_icon("plus") + " New Item", new_tracker_item_path(@tracker), 
                        class: "btn btn-sm rounded-s btn-box-tool"
                .box-body
                  - if tracker_owner?(@tracker)
                    = render "trackers/partials/tracker_owner_managed_items" 
                  - elsif user_items.present?
                    = render "trackers/partials/user_managed_items" 
                  - else
                    %h4
                      You have no items on this tracker. 
                      Feel free to create an item to track.
                .box-footer.clear-fix
                  - if tracker_owner?(@tracker)
                    = paginate @items
            .col-md-6
    - else
      %p 
        This is a private tracker