- title ("New Tracker")
.container
  %section.content-header
    %h1
      New Tracker
      %small
        use the form below to create a new tracker
  %section.content
    .box
      .box-header.with-border
        .box-title
          Tracker details
        .box-tools.pull-right
      .box-body
        .row
          = render "trackers/shared/form", tracker: @tracker