- title ("#{@tracker.name} - Trackers")
.container
  %section.content-header
    %h1
      = @tracker.name
      - if @tracker.project
        = link_to "Project: #{ @tracker.project.name }", @tracker.project, 
          class: "btn btn-danger badge box-tool  btn-sm rounded-s"
      - if user_signed_in? and @tracker.user == current_user
        = link_to fa_icon("arrow-left") + " Trackers", trackers_path,  
                class: "btn btn-primary btn-sm rounded-s pull-right"
      - admins_only do
        = link_to "#{fa_icon("trash")}".html_safe,
          tracker_path(@tracker), method: :delete,
          data: { confirm: "Are you sure you want to delete this tracker? "},
          class: "btn btn-danger pull-right", title: "Delete"
  %section.content
    .box.box-default
      .box-header.with-border
        .row
          .col-md-8
            %small.box-title
              = @tracker.description
          .col-md-4
            .box-tools.pull-right
              - if user_signed_in? 
                = link_to fa_icon("cog") + " Manage My Items", [:manage, @tracker],
                  class: "btn-box-tool"
      .box-body
        .row 
          .col-md-6
            .box.box-solid
              .box-header.with-border
                .box-title
                  = page_entries_info @items, entry_name: 'item'
                .box-tools.pull-right
                  - if user_signed_in?
                    = link_to fa_icon("plus-square") + " New Item", new_tracker_item_path(@tracker), 
                        class: "btn btn-sm rounded-s btn-box-tool"
              .box-body
                - if @items.present?
                  = render @items, mapped: true
                - else
                  %h4
                    This tracker has no items. 
                    Feel free to create an item to track.
              .box-footer.clear-fix
                = paginate @items
          .col-md-6
            .box.box-solid
              .box-header.with-border
                .box-title
                  = "Item".pluralize(@items.count) 
                  Location
              .box-body
                #map{:style => "width: 100%; height: 280px;"}
                :javascript
                  $(document).ready(function(){
                    // pass ruby variable to javascript
                    var items = #{@items.to_json.html_safe}
                    // init show map for project  
                    initMap(items);  
                  });
          .col-md-6
          .col-md-6
            = render 'trackers/partials/discussions', tracker: @tracker