// Place all the styles related to the Debris controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.debris-list {
  cursor: pointer;
  color: #3C8DBC;
  &:hover {
    color: #8CB4DE;
  }
}