// Place all the styles related to the Explore controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-image-search {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;  

} 
.scrolldiv {
  overflow-y: scroll; 
  height:375px;
}
.search-form {
  margin-top: 2%;
}

button#search-form-submit {
  color: #fff;
}

#tracker_map {display:none;}