// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#attributes {
  @extend .table;
  @extend .table-condensed;
  width: 100%;
th {
  width: 10%;
}
tr:first-child {
  td, th {
    border-top: 0px;
  }
}
  
td, th {
    line-height: 24px !important;
  }  
}

.state {
  @extend .label;
  font-size: 12px;
  padding: 0.3em 0.6em;
}