// Google Fonts
@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-Regular.ttf'), format('truetype');
}

// Body
body { 
  color: #5a5a5a;
  font-family: 'Roboto', 'Helvetica';
}

// primary anchor, box, and button 
.form-control:focus {
  border-color: #128F76 !important;
}

// profile image
.profile-user-img {
  border: 3px solid rgba(238, 238, 238, 0.39);
}

// Content
.content-wrapper {
  background-color: #f5f5f5;
}

// Form 
form {
  max-width: 100% !important;
}
// Actions 

ul.actions {
  @extend .list-unstyled;
  @extend .list-inline;
  padding-bottom: 10px;
}

a.new, a.edit, a.delete {
  @extend .btn;

  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

a.new {
  @extend .btn-success;

  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}

a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}

// Alerts
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}



.longer-alert{
   position:relative;
}
.long-alert-close{
  position:absolute;
  top:46%;
  right:20px;
  line-height:0;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  font-size: 23px;
}
.alert-message{
  padding-right:15px;

}
.longer-alert a {
  color: #fff;
  text-decoration: none;
}


// Form
form {
  max-width: 500px;
}

// Media queries
@media(max-width: 500px) {
  
}

#style-date-select {
  color: black;

}


// Buttons
.btn-primary {
  color: #fff;
}

// Login and register box
.login-box, .register-box {
  margin: 5% auto;
}
.login-box-body, .register-box-body { }

// Footer
.footer-distributed {
  margin-top: 0%;
}

/* Admin */
.admin-light {
  color: #5A6E82;
}

.admin-dark {
  color: #001F3F;
}

#admin .col-md-3 h2 {
font-size: 13px;
letter-spacing: 1px;
text-transform: uppercase;
font-weight: bold;
color: #959595;
padding-left: 15px;
}

#admin .col-md-3 h2 ul li a {
  color: #3c8dbc;
}

#admin .col-md-3 h2 ul li a:hover {
  pointer: cursor;
  color: #23527c;
}

// main box
.box.box-solid.box-main {
  border: 1px solid #18BC9C;
}
.box.box-solid.box-main > .box-header {
  color: #fff;
  background: #18BC9C;
  background-color: #18BC9C;
}

.white {
  color: #fff;
}

.red {
  color: #D33724;
}

.green {
  color: #00a65a;
}

.yellow {
  color: #f39c12;
}

.box-contributors {
  @extend .box-comments;
  background: none !important;
}

.contributor-text {
  @extend .comment-text;
}

.bg-dark-blue {
  color: white;
  background: #3C8DBC;
}

.card-size {
  height: 100px;
}
.slider-cards {
  padding-left: 5px;
  padding-right: 5px;
}

// padding between rows or any elements
.top1 { margin-top:1px; }
.top2 { margin-top:2px; }
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

// bottom padding
.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }

// center columns
.col-centered{
    float: none;
    margin: 0 auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}