// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main-section {
  background: #fff;
}

.btn-xl {
		width: 200px;
		height: 100px;
		font-size: 30px;
    border-radius: 10px;
		padding-top: 27px;
}

.box-featured-item-body {
  min-height: 370px !important;
}

.box.box-solid.box-news {
	// border: 1px solid #30353A;	
}

#box-news-body {
	background: rgba(235,235,235,0.42) !important;
	padding: 0px !important;
	margin-bottom: 50px;
}

.box.box-solid.box-news > .box-header {
	color: #fff;
	background: #30353A;
	background-color: #30353A;
}

.bottom-line {
	width: 25px;
	height: 3px;
	background: rgb(99, 122, 145);
}

.heading {
	width: 80%;
}

.feat {
	margin-top: 25px;
}

.quotes {
	padding-left: 35px;
}

.feat img {
	width: 20%;
}

.feat i {
	font-size: 70px;
	// color: #3C8DBC;
	margin-top: 7px;
}

// .team-image-size {
// 	width: 200px;
// 	height: 200px;
// }

.heading h4 {
	font-size: 17px;
	line-height: 1.25;
	font-weight: 700;
	color: #000;
	margin: 10px 0px;
	text-align: left;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 533px;
}

.carousel .item .mini-item{
  height: 0px;
}

// /* Declare heights because of positioning of img element */
// .mini-carousel .item {
//   height: 200px;
// }

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 263px;
  max-height: 600px;
}

.carousel-caption
{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding-top: 0px;
	color: #fff;
	text-align: center;
	background: rgba(0, 0, 0, 0.85);
}

.featured-text {
	padding: 0px 0px 0px 10px;
}

.page-info {
	@extend .callout;
	margin-top: 10%; 
}

// .welcomeTitle {
// 	font-family: 'Open Sans', sans-serif;
// 	color: #fff;
// 	font-weight: 600;
// 	font-size: 40px;
// }

// .subtitle {
// 	font-family: 'Open Sans', sans-serif;
// 	color: #fff;
// 	font-weight: 300;
// 	font-size: 24px;

// }

// .sectionTitle {
// 	font-family: 'Open Sans', sans-serif;
// 	color: #fff;
// 	font-weight: 600;
// 	font-size: 20px;

// }

// .sectionSubTitle {
// 	font-family: 'Open Sans', sans-serif;
// 	color: #fff;
// 	font-weight: 600;
// 	font-size: 30px;

// }
// .featureList {
// 	padding-top: 25px;
// }

// .sectionSubTitleSub {
// 	font-family: 'Open Sans', sans-serif;
// 	color: #fff;
// 	font-weight: 300;
// 	font-size: 20px;

// }

// .sectionText {
// 	font-family: 'Open Sans', sans-serif;
// 	color: #fff;
// 	font-size: 18px;

// }


.info {
	background-color: #3c8dbc !important;
	color: #fff !important;
	border-color: #0097bc;
}

.info p {
	font-weight: 400;
}


.info-text .main-title {
	text-align: center;
}

.info-text .info-title {
	font-size: 18px;
}

.info-text .info-body {
	margin-bottom: 20px;
	font-size: 18px;
}

@media screen and (min-width: 640px) {
	img.img-fluid {
		width: 100%;
		max-height: 165px;
	}
}

@media screen and (max-width: 640px) {
	img.img-fluid {
		width: 100%;
		max-height: 100%;
	}
}

// project on homepage
img.carousel-project-image {
	width: 100%;
	height: 400px;
}

// card
.card{float: left; width:100%}
.title-large {font-size: 20px; margin: 10px 0 5px; line-height: 27px; color: #141517;}
.title-small { color: #141517; font-size: 16px; font-weight: 400; line-height: 23px; margin: 6px 0 0;}
.title-x-small {font-size: 18px; margin: 0px;}
.title-large a, .title-small a, .title-x-small a{color: inherit}
.banner-sec{width: 100%; background: #fff}
.card-block{background: rgba(235,235,235,0.42); padding:0 10px 10px;}
.card-text{margin: 0}
.text-time{color: inherit; font-weight: 600;}
.banner-sec .card-img-overlay{padding: 0; top: 3px; left: 7px; height: 20%}

.carousel-indicators{bottom: 0}
.carousel-indicators li{border:1px solid #000;}
.carousel-indicators .active{background:#000;}

.home-banner-sec{background-color: #3c8dbc;}
.banner-sec{padding: 10px; width:100%;}
.banner-sec .featured-block{margin-bottom: 20px}
.banner-sec .featured-block:last-child{margin-bottom: 0px}
.banner-sec .featured-des {margin-bottom: 5px;}
.banner-sec .title-large{margin: 18px 0 0}
.banner-sec .time{margin-top: 0px; font-size: 13px;}
.banner-sec .carousel-control.left, .banner-sec .carousel-control.right{background: none;}
.banner-sec .card{margin-bottom:20px;}

.action-sec{width:100%; float:left; background:#222}
.action-box{float:left; width:100%; text-align:center;}
.action-box h2{color:#fff; font-size:20px;}

h2.title-small a:hover, h2.title-large a:hover{
	text-decoration: underline;
	cursor: pointer;
}