// Place all the styles related to the ph_datasets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#header-form {
  margin-top: 1%;
  padding-right: 2.5%;
}