// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Form
.new_project {
  max-width: 100% !important;
}
// Avatar - Appears on members list
img.avatar {
  height: 32px;
  width: 32px;
  float: left;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
  background: #f7f7f7;
  border: 1px solid #e6e6e6;
}

// Project display

.x_panel {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  transition: all .2s ease; }

.x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px; }

.x_title .filter {
  width: 40%;
  float: right; }

.x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.x_title h2 small {
  margin-left: 10px; }

.x_title span {
  color: #BDBDBD; }

ul.project_files li {
  margin-bottom: 5px; }

ul.project_files li a i {
  width: 20px; }

.project_detail p {
  margin-bottom: 10px; }

.project_detail p.title {
  font-weight: bold;
  margin-bottom: 0; }
  
@media (max-width: 1200px) {
  .x_title h2 {
    width: 62%;
    font-size: 17px; }

  .tile, .graph {
    zoom: 85%;
    height: inherit; } }
@media (max-width: 1270px) and (min-width: 192px) {
  .x_title h2 small {
    display: none; } }
.left_col .mCSB_scrollTools {
  width: 6px; }

// maps 
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#loc-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

#project_lat, #project_lng {
  hidden: true;
}

// box colors
.box-chemical {
  @extend .box-danger;
}

.box-biological {
  @extend .box-primary;
}

.box-physical {
  @extend .box-success;
}

.modal-primary .form-group, .modal-danger .form-group, 
.modal-success .form-group {
  color: #fff !important;
}

/* Project image
----------------------------------------------- */
.project-image {
  width: auto;
  height: auto;
  max-height: 350px;
  max-width: 425px;
}

/* Search results
---------------------------------------------- */
.mb20 { margin-bottom: 20px; } 

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { 
  border-radius: 0 !important; 
}

.search-result:first-child { 
  margin-top: 0 !important; 
}

.search-result { 
  margin-top: 20px; 
}

.search-result .col-md-2 { 
  border-right: 1px dotted #ccc; 
  min-height: 140px; 
}

.search-result ul { 
  padding-left: 0 !important; 
  list-style: none; 
}

.search-result ul li { 
  font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  
  line-height: 30px; 
}
  
.search-result ul li i { 
  padding-right: 5px; 
}

.search-result .col-md-7 { 
  position: relative; 
}

.search-result h3 { 
  font: 500 normal 1.375em "Roboto", Arial,Verdana,sans-serif; 
  margin-top: 0 !important; 
  margin-bottom: 10px !important; 
}

// .search-result h3 > a, .search-result i { color: #248dc1 !important; }

.search-result p { 
  font: normal normal 1.125em "Roboto", Arial,Verdana,sans-serif; 
} 
  
.search-result span.plus { 
  position: absolute; 
  right: 0; 
  top: 126px; 
}

.search-result span.plus a { 
  background-color: inherit; 
  padding: 5px 5px 3px 5px; 
}

.search-result span.plus a:hover { 
  background-color: inherit; 
}

.search-result span.plus a i { 
  color: #fff !important; 
}

.search-result span.border { 
  display: block; 
  width: 97%; 
  margin: 0 15px; 
  border-bottom: 1px dotted #ccc; 
}

// tag link
.badge.tag a {
  color: #fff;
}

.badge.tag a:hover {
  color: #F3F3F3;
}