
// Skins  
// navy-light
.skin-navy-light .wrapper, 
.skin-navy-light .main-sidebar, 
.skin-navy-light .left-side {
  background: #fff;
}

.skin-navy-light .main-header .navbar {
  background-color: #001F3F;
}

.skin-navy-light .main-header 
.navbar .nav > li > a {
  color: #fff;
}

.skin-navy-light .main-header li.user-header {
  background-color: #001F3F;
}

.skin-navy-light .main-header .navbar .nav > li > a:hover, 
.skin-navy-light .main-header .navbar .nav > li > a:active, 
.skin-navy-light .main-header .navbar .nav > li > a:focus, 
.skin-navy-light .main-header .navbar .nav .open > a, 
.skin-navy-light .main-header .navbar .nav .open > a:hover, 
.skin-navy-light .main-header .navbar .nav .open > a:focus, 
.skin-navy-light .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}


@media(max-width: 767px) {
  .skin-navy-light .main-header 
  .navbar .dropdown-menu li a {
    color: #fff;
  }
}


//skin - cyan
.skin-cyan-light .wrapper, 
.skin-cyan-light .main-sidebar, 
.skin-cyan-light .left-side {
  background: #fff;
}

.skin-cyan-light .main-header .navbar {
  background-color: #18BC9C;
}

.skin-cyan-light .main-header 
.navbar .nav > li > a {
  color: #fff;
}

.skin-cyan-light .main-header li.user-header {
  background-color: #18BC9C;
}

.skin-cyan-light .main-header .navbar .nav > li > a:hover, 
.skin-cyan-light .main-header .navbar .nav > li > a:active, 
.skin-cyan-light .main-header .navbar .nav > li > a:focus, 
.skin-cyan-light .main-header .navbar .nav .open > a, 
.skin-cyan-light .main-header .navbar .nav .open > a:hover, 
.skin-cyan-light .main-header .navbar .nav .open > a:focus, 
.skin-cyan-light .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}


@media(max-width: 767px) {
  .skin-cyan-light .main-header 
  .navbar .dropdown-menu li a {
    color: #fff;
  }
}
