= simple_form_for [:admin, user] do |f|
  = render 'shared/error_messages', object: f.object
  .form-group.has-feedback
    = f.fields_for :profile do |p|
      = p.input :firstname, label: "First name", required: true, autofocus: true, error: false,
        input_html: { class: 'form-control', id: 'firstname'}
      = p.input :lastname, :required => true, error: false, label: "Last name",
        input_html: { class: 'form-control', id: 'lastname'}
    = f.input :email, :required => true, error: false,
      input_html: { class: 'form-control' }
    = f.input :password, required: true, error: false,
      placeholder: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
      input_html: { class: 'form-control' }
    = f.input :password_confirmation, required: true, error: false,
      input_html: { class: 'form-control' }
    .checkbox
      = f.input :admin, label: "Is an admin?"
  .row
    .col-xs-12
      = f.button :submit,
        class: "btn btn-primary btn-block btn-flat"