-title("Users - Admin")
.container
  %section.content
    .title-block
      .row
        .col-md-12
          %h2.title
            Users
            %small
              A list of all site users
    .box
      .box-header
        .box-title
          = page_entries_info @users, entry_name: 'user'
        .box-tools.pull-right
          = link_to fa_icon("plus") + " New User", new_admin_user_path, 
              class: "btn btn-sm rounded-s btn-box-tool"
      .box-body
        .row
          .col-md-12
            %table.table.table-bordered.table-striped
              %thead
                %tr
                  %th
                    Email
                  %th
                    Account Type
                  %th 
                    Role
                  %th 
                    Date Joined
                  %th
                    Date Confirmed
                  %th
                    Last Login 
                  %th
                    Last login IP
                  %th 
                    Action
              %tbody
                - @users.each do |user|
                  %tr
                    %td
                      = link_to user.email, [:admin, user]
                    %td
                      - if user.admin? 
                        Admin
                      - else
                        User
                    %td
                      N/A
                    %td 
                      = user.created_at.try(:strftime, "%F")
                    %td
                      = user.confirmed_at.try(:strftime, "%F")
                    %td
                      = user.last_sign_in_at.try(:strftime, "%F")
                    %td 
                      = user.current_sign_in_ip
                    %td
                      = link_to "#{fa_icon("eye")} View".html_safe,
                        [:admin, user], class: "btn btn-default btn-xs"
                      = link_to "#{fa_icon("edit")} Edit".html_safe, 
                                [:edit, :admin, user], type: "button",  
                                class: "btn btn-default btn-xs", 
                                "data-toggle": "modal",
                                "data-target": ""
                      %span{"data-toggle": "tooltip", 
                        "title": "Be careful! There is no tool to unarchive users."}
                        = link_to "#{fa_icon("archive")} Archive".html_safe,
                          [:archive, :admin, user], method: :patch,
                          data: { confirm: "Are you sure you want to archive this user? "},
                          class: "btn btn-default btn-xs" 
                      = link_to "#{fa_icon("trash")} Delete".html_safe,
                          [:destroy, :admin, user], method: :delete,
                          data: { confirm: "Are you sure you want to delete this user? "},
                          class: "btn btn-default btn-xs" 
      .box-footer.clear-fix
        = paginate @users