-title("New User - Admin")
.container
  .content
    .title-block
      .row
        .col-md-12
          %h2.title
            New User
            %small
              Use the form below to register user
      .box.box-solid
        .box-header
        .box-body
          .row
            .col-md-6
              .box.box-primary
                .box-header.with-border
                  %h3.box-title
                    Registration Form
                .box-body
                  = render "form", user: @user