-title("User - Admin")
.container
  %section.content
    .title-block
      .row
        .col-md-12
          %h2.title
            User Details
            %small
              Contains info about account and account activity
    .box.box-solid
      .box-header.with-border
        .box-title
          = @user 
          details 
        .box-tools.pull-right
          = link_to fa_icon("edit") + " Edit User", [:edit, :admin, @user], 
            type: "button", class: "btn btn-primary btn-box-tool"
          %span{"data-toggle": "tooltip", 
                        "title": "Be careful! There is no tool to unarchive users."}
            = link_to "#{fa_icon("archive")} Archive User".html_safe,
                [:archive, :admin, @user], method: :patch,
                data: { confirm: "Are you sure you want to archive this user? "},
                class: "btn btn-primary btn-box-tool"
          = link_to "#{fa_icon("trash")} Delete".html_safe,
                          [:destroy, :admin, @user], method: :delete,
                          data: { confirm: "Are you sure you want to delete this user? "},
                          class: "btn btn-primary btn-box-tool" 
      .box-body
        .row
          .col-md-6
            %p
              Details about the user activity go here. Some info to put here would
              be
            %ul
              %li
                Name
              %li
                Last login date
              %li
                IP address last used
              %li
                etc