= link_to user_name(activity.user), user_profiles_path(activity.user)
added
= link_to activity.trackable.category.try(:name), 
[activity.trackable.project, activity.trackable]
data on 
= link_to activity.trackable.project.name, activity.trackable.project