= simple_form_for [:admin, team] do |f|
  = render 'shared/error_messages', object: f.object
  .form-group.has-feedback
    = f.input :name, :required => true, error: false,
      input_html: { class: 'form-control' }
    = f.input :about, required: false, error: false,
      input_html: { class: 'form-control' }
    = f.input :role, required: true, error: false,
      input_html: { class: 'form-control' }
    = f.input :image, title: "Photo", label: "Member Portrait",
      class: "form-control"
    - if f.object.image?
      = image_tag f.object.image.thumb.url
    = f.input :website, required: false, error: false,
      input_html: { class: 'form-control' }
    = f.input :facebook, required: false, error: false,
      input_html: { class: 'form-control' }
    = f.input :linkedin, required: false, error: false,
      input_html: { class: 'form-control' }
    = f.input :twitter, required: false, error: false,
      input_html: { class: 'form-control' }
    .checkbox
      = f.input :left, label: "Past contributor?"
  .row
    .col-xs-12
      = f.button :submit,
        class: "btn btn-primary btn-block btn-flat"