-title("Edit Team Member - Admin")
.container
  .content
    .title-block
      .row
        .col-md-12
          %h2.title
            Edit Team Member
            %small
              Use the form below to add a edit team member
      .box.box-solid
        .box-header
        .box-body
          .row
            .col-md-6
              .box.box-primary
                .box-header.with-border
                  %h3.box-title
                    Member Edit Form 
                .box-body
                  = render "form", team: @team