-title("Teams - Admin")
.container
  %section.content
    .title-block
      .row
        .col-md-12
          %h2.title
            Users
            %small
              A list of members who work for SPLASSH
    .box
      .box-header
        .box-title
        .box-tools.pull-right
          = link_to fa_icon("plus") + " New Member", new_admin_team_path, 
              class: "btn btn-sm rounded-s btn-box-tool"
      .box-body
        .row
          .col-md-12
            %table.table.table-bordered.table-striped
              %thead
                %tr
                  %th
                    Name
                  %th
                    About
                  %th 
                    Role
                  %th 
                    Action
              %tbody
                - @members.each do |member|
                  %tr
                    %td
                      = member.name
                    %td
                      = truncate(member.about, length: 50)
                    %td
                      = member.role
                    %td
                      = link_to "#{fa_icon("edit")} Edit".html_safe, 
                                [:edit, :admin, member], type: "button",  
                                class: "btn btn-default btn-xs", 
                                "data-toggle": "modal",
                                "data-target": ""
                      = link_to "#{fa_icon("trash")} Delete".html_safe, 
                      [:admin, member], 
                      title: 'Delete', class: "btn btn-default btn-xs", 
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete this member?"} 
      .box-footer.clear-fix