-title("New Team Member - Admin")
.container
  .content
    .title-block
      .row
        .col-md-12
          %h2.title
            New Team Member
            %small
              Use the form below to add a new team member
      .box.box-solid
        .box-header
        .box-body
          .row
            .col-md-6
              .box.box-primary
                .box-header.with-border
                  %h3.box-title
                    Member Registration Form 
                .box-body
                  = render "form", team: @team