$(document).ready(function() {
  $("#dataModal-biological").modal('hide');
  $("#dataModal-chemical").modal('hide');
  $("#dataModal-physical").modal('hide');
  $("#dataModal-terestrial").modal('hide');
  $(".form-control").val("");
  $("select").val("");
  $("textarea").val("");
  
  <% puts @scientific_datum.errors.full_messages %>
  
  var cat_name = "";
  <% if @scientific_datum.category.present? %>
    <% if @scientific_datum.category.id == 1 %>
      cat_name = "Chemical";
    <% elsif @scientific_datum.category.id == 2 %>
      cat_name = "Biological";
    <% else %>
      cat_name = "Physical";
    <% end %>
  <% else %>
    cat_name = "Terestrial";
  <% end %>
  
  var tbl_selector = ".box-" + cat_name + " tbody";
  
  $(tbl_selector).prepend("<tr><%= j render 'projects/partials/table/table_body', 
                              data: @scientific_datum, 
                              project: @scientific_datum.project %></tr>"); 
  
  $("#data_<%= @scientific_datum.id %>").hide().fadeIn(1000);
  
  <% if @scientific_datum.errors.any? %>
    <% @scientific_datum.errors.full_messages.each do |msg| %>
      $("#errors p").remove();
      $("#errors").append("<p>* <%= msg %></p>");
      $("#errors p").hide().fadeIn();
    <% end %>  
  <% else %>
    $("#errors p").remove();
    $("#dataModal").modal('hide');
  <% end %>
});


