- title ("Data")
.container
  %section.content-header
    %h1
      - if @scientific_datum.category.present?
        = @scientific_datum.category.name
      - else
        Terestrial 
      %small
        = @scientific_datum.unit
      = link_to fa_icon("arrow-left") + " #{@project.name}", @project,  
              class: "btn btn-primary btn-sm rounded-s pull-right"
  %section.content
    .box
      .box-header.with-border
        .box-tools.pull-right
      .box-body
        .row
          .col-md-8
            .box.box-solid#item_info
              .box-header.with-border
                %h3.box-title
                  Data Information
              .box-body
                %table#attributes
                  %tr
                    %th
                      Added by
                    %td
                      - if @scientific_datum.user.profile.present?
                        = link_to contributor_user_name(@scientific_datum.user.profile), 
                          user_profiles_path(@scientific_datum.user), class: "name"
                      - else
                        = link_to @scientific_datum.user, 
                          user_profiles_path(@scientific_datum.user), class: "name"   
                  %tr
                    %th
                      Added
                    %td
                      = time_ago_in_words(@scientific_datum.created_at)
                      ago
                  %tr
                    %th
                      Category
                    %td
                      - if @scientific_datum.category.present?
                        = @scientific_datum.category.name
                      - else
                        Terestrial
                  %tr
                    %th
                      Value
                    %td
                      = @scientific_datum.value
                  %tr
                    %th
                      Unit
                    %td
                      = @scientific_datum.unit
                  %tr
                    %th
                      Instrument
                    %td
                      = @scientific_datum.instrument
                  %tr
                    %th
                      Collection Technique
                    %td
                      = @scientific_datum.technique
                  %tr
                    %th
                      Additional Info
                    %td
                      = @scientific_datum.info
