$(document).ready(function() {
  $(".form-control").val("");
  $("select").val("");
  $("textarea").val("");
  
  $("#data_<%= @scientific_datum.id %>").fadeOut(500, function () {
    $(this).remove();
    
    var cat_name = "";
    <% if @scientific_datum.category.present? %>
      <% if @scientific_datum.category.id == 1 %>
        cat_name = "Chemical";
      <% elsif @scientific_datum.category.id == 2 %>
        cat_name = "Biological";
      <% else %>
        cat_name = "Physical";
      <% end %>
  <% else %>
    cat_name = "Terestrial";
  <% end %>
    
    var tbl_selector = ".box-" + cat_name + " tbody";
    
    $(tbl_selector).prepend("<tr><%= j render 'projects/partials/table/table_body', 
                              data: @scientific_datum, 
                              project: @scientific_datum.project %></tr>"); 
    $("#updateModal-<%= @scientific_datum.category_id %>").modal('hide');
    $("#updateModal-").modal('hide');
  });
});