.box-contributors
  .contributors
    .box-contributor.clear-fix
      = gravatar_for contributor.user,
      "img-responsive img-circle img-sm"
      .contributor-text
        %span.username
          - if contributor.user.profile.present?
            = link_to contributor_user_name(contributor.user.profile), 
              user_profiles_path(contributor.user), class: "name"
          - else
            = link_to contributor.user, 
              user_profiles_path(contributor.user), class: "name"    