$(document).ready(function() { 
   <% if @user.exists? %>
      $("#user_results_info").html("<%= j render 'contributors/partials/search_info', 
                                          user: @user %>");   
      $("#user_result").html("<%= j render partial: "contributors/partials/add_contributor", 
                            collection: @user, as: :user %>"); 
      $("#user_result").hide().fadeIn(500);
   <% else %>
      swal("User not found!", "Could not find user with the specified email address", "info");
   <% end %>
});