- title("Contributors")
.container
  .row
    .col-md-12
      %section.content-header
        %h1
          Contributors
          %small
            Add user to project
          = link_to fa_icon("arrow-left") + " Project", 
            project_path(@contributable),
            class: "btn btn-primary btn-sm rounded-s pull-right"
  %section.content
    .row
      .col-md-7
        .box.box-primary.box-solid
          .box-header.with-boarder
            .row
              .col-md-4
                %h3.box-title
                  Add user to project
              .col-md-8.pull-right
                = render "contributors/partials/search"
          .box-body
            .row
              .col-md-12
                %p
                  Use the search bar above to search for a user.
            .row
              .col-md-12
                #user_results_info
                #user_result
      .col-md-5
        .box.box-solid.box-primary
          .box-header.with-boarder
            .row
              .col-md-6
                %h3.box-title 
                  Project Contributors
              .col-md-6
          .box-body
            %ul.list-group
              - @contributable.contributors.each do |contributor|
                %li.list-group-item
                  = render "contributors/partials/contributor", 
                    contributor: contributor