- title "Edit - #{@site.name}" 
.container
  %section
    .content
      %h2
        Edit
        %small
          = @site.name
      .box.box-primary
        .box-header.with-border
          .box-title
            %h3
              Site Details
        .box-body
          .row
            = render "sites/shared/form",
                project: @project, site: @site