- title "New Project Site"
.container
  %section
    .content
      %h2
        Project Site
        %small
          Add A New Site To A Project
      .box
        .box-header.with-border
          %h3.box-title
            Site Details
        .box-body
          .row
            = render "sites/shared/form", 
              project: @project, site: @site