- title ("Project Sites")
.container
  %section.content-header
    %h1
      = @site.name
      = link_to fa_icon("arrow-left") + " #{@project.name}", @project,  
              class: "btn btn-primary btn-sm rounded-s pull-right"
      - if user_signed_in? and @site.user.id == current_user.id
        = link_to "#{fa_icon("pencil-square-o")} Edit".html_safe, 
                    edit_project_site_path(@project, @site), type: "button",  
                    class: "btn btn-info", "data-toggle": "modal",
                          "data-target": "", title: "Edit"
      - if user_signed_in? and @site.user.id == current_user.id
        = link_to "#{fa_icon("trash")} Delete".html_safe,
                    project_site_path(@project, @site), method: :delete,
                    data: { confirm: "Are you sure you want to delete this site?"},
                    class: "btn btn-danger", title: "Delete"
  %section.content
    .box
      .box-header.with-border
        .box-tools.pull-right
      .box-body
        .row
          .col-md-6
            .box.box-solid
              .box-header.with-border
                %h3.box-title
                  Site Information
              .box-body
                %center
                  .site_detail.top15
                    %p.title
                      %b
                        Site Description
                    %p
                      = @site.description
                    %p.title
                      %b
                        Added By
                    %p
                      - if @site.user.profile.present?
                        = link_to contributor_user_name(@site.user.profile), 
                          user_profiles_path(@site.user), class: "name"
                      - else
                        = link_to @site.user, 
                          user_profiles_path(@site.user), class: "name"
                    %p.title
                      %b
                        Added
                    %p
                      = time_ago_in_words(@site.created_at)
                      ago
          .col-md-6
            .box.box-solid
              .box-header.with-border
                %h3.box-title
                  Location
              .box-body
                #map{:style => "width: 100%; height: 400px;"}
                :javascript
                  $(document).ready(function(){
                    // pass ruby variable to javascript
                    var site = #{@site.to_json.html_safe}
                    // init show map for project  
                    gmap_show(site);    
                  });
