= simple_form_for([:admin, state]) do |f|
  .form-group
    = f.input :name, placeholder: "Name of the state",
      input_html: { class: "form-control", id: "Name" }
  .form-group
    = f.input :color, placeholder: "HTML color code or color name",
      input_html: { class: "form-control", id: "Color" }
    (This has to be a HTML color code!)
  .form-group
    .checkbox
      = f.input :available, label: "Make available?"
  .form-group
    = f.submit class: 'btn btn-primary btn-flat'