-title("States - Admin")
.container
  %section.content
    .title-block
      .row
        .col-md-12
          %h2.title
            States
            %small
              A list of all states available to users
    .box
      .box-header
        .box-title
          = page_entries_info @states, entry_name: 'state'
        .box-tools.pull-right
          = link_to fa_icon("plus") + " New State", new_admin_state_path, 
              class: "btn btn-sm rounded-s btn-box-tool"
      .box-body
        .row
          .col-md-6
            %table.table.table-striped
              %tr
                %th
                  State Name
                %th
                  Default
                %th 
                  Available?
                %th
                  Actions
              - @states.desc.each do |state|
                %tr
                  %td
                    = render "states/state", state: state
                  %td
                    - if state.default?
                      (Default)
                    - else
                      = link_to "Make Default", 
                        make_default_admin_state_path(state)
                  %td
                    = state.available?
                  %td
                    = link_to "#{fa_icon("edit")} Edit".html_safe, 
                      [:edit, :admin, state], type: "button",  
                      class: "btn btn-default btn-xs"
                    = link_to "#{fa_icon("trash")} Delete".html_safe, 
                      [:admin, state], 
                      title: 'Delete', class: "btn btn-default btn-xs", 
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete this State?"} 