- title "New State - Admin"
.container
  %section
    .content
      %h2
        State
        %small
          Add A New State
      .box
        .box-header.with-border
          .box-title
            State Details
        .box-body
          .row
            .col-md-6
              = render "form", state: @state