- title("Explore")
.container
  .row
    .col-md-6
      %section.content-header
        %h1
          Explore
          %small
            Search projects and debris items

    %section.content
      %br
      %br
      .row
        .nav-tabs-custom
          %ul.nav.nav-tabs
            %li.active
              %a{href: "#projects_view", "data-toggle" => "tab"}
                Projects
            %li
              %a{href: "#trackers_view", "data-toggle" => "tab", :onclick => "displayMap(#{@trackers.to_json.html_safe})"}
                Trackers
        .tab-content
          .active.tab-pane#projects_view
            .box.box-solid
              .box-body
                = render 'explore/partials/projects_view'
          .tab-pane#trackers_view
            .box.box-solid
              .box-body
                = render "explore/partials/trackers_view"