$(document).ready(function() { 
   $("#search_results_info").html("<%= j render 'explore/shared/projects_search_info', 
                                       projects: @search_results %>");
   $("#projects_result").html("<%= j render partial: "projects/project", 
                            collection: @search_results, as: :project %>"); 
   $("#projects_result").hide().fadeIn(500);


   $("#tracker_search_results_info").html("<%= j render 'explore/shared/trackers_search_info', 
                                       trackers: @tracker_search_results %>");
   $("#trackers_result").html("<%= j render partial: "trackers/tracker", 
                            collection: @tracker_search_results, as: :tracker %>"); 
   $("#trackers_result").hide().fadeIn(500);







});