.modal.modal-primary.fade{id: "updateModal-", 
  tabindex: -1, role: "dialog", 
                  "aria-labelledby": "exampleModalLabel", "aria-hidden": "true"}
  = render "scientific_data/shared/forms/update_modal", 
    project: project, scientific_datum: scientific_datum, 
    form_name: "Terestrial", fields_path: "terestrial/fields"