!!!5 
%html
  %head
    = render "layouts/shared/google_analytics"
    %title 
      - if content_for?(:title)
        = yield(:title)
      - else 
        Splassh
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' 
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/additional-methods.min.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{ name: "current-user", id: "#{current_user.try(:id)}" }
    %meta{ name: "description", 
           content: "A socially driven network that crowdsources the condition of our waterways. Its mission is to inspire water conservation and we hope to achieve this goal by serving as a platform where students, citizen scientists, and researchers can post their water projects, be recognized for their contributions, and connect with other water investigators. "}
    %script{src: '//maps.googleapis.com/maps/api/js?key=AIzaSyDXi94E0bEbo_x1fj_ZsNJVz_QVpohIJag'}
    %script{src: '//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js'}
    %script{src: '//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js', type: 'text/javascript'}
    %script{src: "https://cdn.ywxi.net/js/1.js", type:'text/javascript'}
    %script{src: "https://code.highcharts.com/highcharts.js", type:'text/javascript'}
    %script{src: "https://code.highcharts.com/modules/exporting.js", type:'text/javascript'}
    %script{src: "https://code.highcharts.com/modules/offline-exporting.js", type:'text/javascript'}

%body.hold-transition.skin-blue-light.layout-top-nav
  .wrapper
    = render "layouts/shared/header"
    - if false
      - # The code below will display a site wide info system
      - # Notification details should be come from server, not hard coded
      .alert.alert-info
        %h4
          %i{class: "icon fa fa-#{alert_icon("notice")}"}
          Important Information!
        %p
          The site would like to notice you about bla bla bla
    .content-
      .bg-white
        - flash.each do |key, message|
          .alert{class: "alert-#{key}", "role": "alert" }
            %button{type: "button", class: "close", 
            "data-dismiss": "alert", "aria-hidden": "true" } 
              ×
            %h4
              %i{class: "icon fa fa-#{alert_icon(key)}"}
              = "#{key.capitalize}!"
            = message
      = yield
      = render "layouts/shared/footer" 
      
 